.small-12.medium-6.columns
  - if current_user_is_student?
    - @group = current_student.group_for_assignment(@assignment)
  - if @group.present?
    .panel= render "grades/group_results"

    - if @assignment.accepts_submissions?
      - if @group.submission_for_assignment(@assignment).present?
        .panel= render "grades/group_submission"
      - elsif @assignment.future? || @assignment.still_accepted?
        .panel
          = link_to "Submit", new_assignment_submission_path(@assignment, :group_id => current_student), :class => 'button tiny secondary radius'
          - if @assignment.past?
            .label.alert.radius= "Past due"

.small-12.medium-6.columns
  .panel= render "grades/group_analytics"
