.small-12
  %br
  .row
    .small-12.medium-12.large-6.columns.box
      %h4.bold Basic Stats
      - if current_user_is_staff? || ( current_user_is_student? && current_student_data.grade_released_for_assignment?(@assignment).present? )
        %ul
          %li
            %span.small_uppercase Average Score:
            = points @assignment.average
          %li
            %span.small_uppercase Minimum Score:
            = points @assignment.low_score
          %li
            %span.small_uppercase High Score: 
            = points @assignment.high_score

    .small-12.medium-12.large-6.columns.box
      %h4.bold Grade Distribution
      - if current_user_is_staff? || (current_user_is_student? && current_student_data.grade_released_for_assignment?(@assignment).present?)
        .chartcontainer
          .grades_per_assign{ "data-scores" => @grades_for_assignment.to_json }

  .row
    .small-12.medium-12.large-6.columns.box
      %h4.bold Participants

      - if @assignment.accepts_submissions? && @assignment.submissions.present?
        #numberComplete{:"data-type" => "full", "data-info" => "#{(term_for :groups).titleize} Submitted", "data-percent" => "#{@assignment.submission_rate(current_course)}", "data-fgcolor" => "#61a9dc", "data-bgcolor" => "#333333", "data-text" => "#{@assignment.submissions.count}", "data-dimension" => "180", "data-fontsize" => "38", "data-border" => "#222222", "data-bordersize" => "2"  }

      - else
        #numberComplete{:"data-type" => "full", "data-info" => "#{(term_for :groups).titleize} Participated", "data-percent" => "#{@assignment.completion_rate(current_course)}", "data-fgcolor" => "#61a9dc", "data-bgcolor" => "#333333", "data-text" => "#{@assignment.grade_count}", "data-dimension" => "180", "data-fontsize" => "38", "data-border" => "#222222", "data-bordersize" => "2"   }

    .small-12.medium-12.large-6.columns.box
      %h4.bold Percentage Scores Earned
      - if current_user_is_staff? || ( current_user_is_student? && current_student_data.grade_released_for_assignment?(@assignment).present?)
        .small-12#levels_per_assignment{'data-levels' =>  @assignment.percentage_score_earned.to_json }
