.small-12.medium-6.columns
  %br
  - if current_user_is_student?
    - @group = current_student.group_for_assignment(@assignment)
  - if @group.present?
    %p
      %span.bold= "#{(term_for :group).titleize}:"
      - if current_user_is_student?
        - @group = current_student.group_for_assignment(@assignment)
      - if @group.present?
        = link_to @group.name, group_path(@group)
        = link_to "Edit", edit_group_path(@group), :class => 'button radius'

      .clear

      %span.bold= "#{term_for :students}:"
      %ul
        - @group.students.each do |student|
          - if current_user_is_student?
            %li= student.name
          - else
            %li= link_to student.name, student_path(student)

      - if @group.grades.graded_or_released.present?
        = link_to "Edit Grade", group_grade_assignment_path(@assignment, :group_id => @group), :class => 'button radius'

    - if current_user_is_student?
      - if current_student.grade_for_assignment(@assignment).present?
        - if current_user_is_student?
          %p.bold Your Results
        - else
          %p.bold
            #{current_student.try(:first_name)}'s Grade
            %span= link_to "Edit", edit_assignment_grade_path(@assignment, :student_id => current_student.id), :class => 'button radius'

        - grade = current_student.grade_for_assignment(@assignment)
        %p
          %span.bold= "#{points grade.raw_score }"
          %span=" / #{points @assignment.point_total } possible points"
        - if current_student.grade_for_assignment(@assignment).assignment.release_necessary? && current_user_is_staff?
          %p
            Status:
            %span.bold= current_student.grade_for_assignment(@assignment).status
        - if current_student.grade_for_assignment(@assignment).feedback.present?
          %p.bold Instructor Feedback:
          %p= raw current_student.grade_for_assignment(@assignment).feedback

    - else
      - @group.students.each do |student|
        .panel
          - if student.grade_for_assignment(@assignment).present?
            %p.bold
              #{student.try(:first_name)}'s Grade
              = link_to "Edit #{student.try(:first_name)}'s Grade", edit_assignment_grade_path(@assignment, :student_id => student.id), :class => 'button radius'

            - grade = student.grade_for_assignment(@assignment)
            %p
              %span.bold= "#{points grade.raw_score }"
              %span=" / #{points @assignment.point_total } possible points"
            - if student.grade_for_assignment(@assignment).assignment.release_necessary?
              %p
                Status:
                %span.bold= student.grade_for_assignment(@assignment).status
            - if student.grade_for_assignment(@assignment).feedback.present?
              %p.bold Instructor Feedback:
              %p= raw student.grade_for_assignment(@assignment).feedback

