.small-12.medium-6.columns
  - if current_student_data.grade_released_for_assignment?(@assignment).present? || current_user_is_staff?
    .panel= render "grades/results"

  - if @assignment.accepts_submissions?
    - if current_student.submission_for_assignment(@assignment)
      .panel= render "grades/submission"
    - elsif @assignment.future? || @assignment.still_accepted?
      .panel
        = link_to "Submit", new_assignment_submission_path(@assignment, :student_id => current_student), :class => 'button tiny secondary radius'
        - if @assignment.past?
          .label.alert.radius= "Past due"

.small-12.medium-6.columns
  .panel= render "grades/analytics"

