- if current_user_is_student?
  %p.bold Your Results
  - if ! current_student.grade_for_assignment(@assignment).present?
    .italic Sorry, your results aren't in yet
- else
  %h4.sr-only #{current_student.try(:first_name)}'s Grade
  %p.bold 
    #{current_student.try(:first_name)}'s Grade
    %span
      %a{:href => "#{edit_assignment_grade_path(@assignment)}?student_id=#{current_student.id}", :class => 'button radius'  }
        Edit
        %span.sr-only #{current_student.try(:first_name)}'s Grade

- grade = current_student.grade_for_assignment(@assignment)
- if grade
  %p
    %span You earned 
    %span.bold= "#{points grade.try(:raw_score) }"
    %span=" out of #{points @assignment.point_total } possible points."
  - if @assignment.release_necessary? && current_user_is_staff?
    %p 
      %span.small_uppercase Status:
      %span.bold= current_student.grade_for_assignment(@assignment).status
  - if grade.feedback.present?
    %span.small_uppercase Instructor Feedback:
    %p= raw current_student.grade_for_assignment(@assignment).feedback
