- if current_student.grade_for_assignment(@assignment).present?
  - if current_user_is_student?
    %p.bold Your Results
  - else
    %h4.sr-only #{current_student.try(:first_name)}'s Grade
    %p.bold 
      #{current_student.try(:first_name)}'s Grade

  - grade = current_student.grade_for_assignment(@assignment)
  %p
    %span You earned 
    %span.bold= "#{points grade.raw_score }"
    %span=" out of #{points @assignment.point_total } possible points."
  - if current_student.grade_for_assignment(@assignment).assignment.release_necessary? && current_user.is_staff?
    %p 
      %span.small_uppercase Status:
      %span.bold= current_student.grade_for_assignment(@assignment).status
  - if current_student.grade_for_assignment(@assignment).feedback.present?
    %span.small_uppercase Instructor Feedback:
    %p= raw current_student.grade_for_assignment(@assignment).feedback
