%table#grade-rubric-table.small-12
  %thead
    %tr
      %td
        %strong Criterion
        .not_bold.italic Max points
      %td(colspan="#{@assignment.rubric.try(:max_tier_count)}")
        .larger
          %strong Level
          .not_bold.italic Point value
      %td{:width => "25%"}
        %strong
          Your Feedback


  %tbody
    - @metrics.each do |metric|
      %tr
        %td.metric(style="font-size: 12px !important")
          .metric-heading
            .metric-name.bold= metric.wrapped_name(28).html_safe
            .metric-points.italic= "#{points metric.max_points} Points"
            .clear
          .metric-description= metric.wrapped_description(40).html_safe

        - metric.tiers.order("points ASC").each do |tier|
          %td.tier
            .tier-heading
              .tier-name.uppercase= tier.wrapped_name(25).html_safe
              .clear
              .tier-points.italic= "#{points tier.points} Points"
            .clear
            .tier-description= tier.description

            .row.badge-row
              - tier.tier_badges.each_with_index do |badge, index|
                - if index < 2
                  %span.tier-badge-image
                    %img{:src => badge.badge.icon, width: "30px", height: "30px" }
              .clear

            - if current_user_is_staff? && @viewable_rubric_grades.select {|rubric_grade| rubric_grade.tier_id == tier[:id] }.count > 0
              .italic{style: "color: #00BD39; font-size: 110%"}  #{current_student.first_name} earned this level
            - elsif current_user_is_student? && @rubric_grades.select {|rubric_grade| rubric_grade.tier_id == tier[:id] }.count > 0
              .italic{style: "color: #00BD39; font-size: 110%"}  I earned this level

            - if tier.rubric_grades.size > 0
              .students-padding
              .graded-students= "#{pluralize(tier.rubric_grades.size, 'student')} earned this level"
        - if metric.tiers.size < @rubric.max_tier_count
          %td.filler(colspan="#{@rubric.max_tier_count - metric.tiers.size}")
        %td.tier.italic{style: "font-size: 100%"}
          - if @comments_by_metric_id.size > 0
            = @comments_by_metric_id[metric.id]