.small-12.panel.mainContent
  / Grades Navigation
  = content_nav do
    = render "assignments/tabs"

  %h3.pagetitle Editing #{current_student.name}'s Grade for #{@assignment.name}
  .small-12.medium-4.columns.right
    .right= render "assignments/description"
  
  .small-12.columns    
    = render 'form'

  .clearfix
