.small-12.panel.mainContent

  = content_nav_for @assignment, "See Grade"
  
  - if @assignment.is_individual?
    %h3.pagetitle= "#{current_student.name}'s Grade for #{ @assignment.name }"

    .small-12.medium-3.right.columns
      .button-bar.right
        %ul.button-group.context_menu
          %li
            %i.fi-pencil
            = link_to "Edit Grade", edit_assignment_grade_path(@assignment, :student_id => current_student.id)

    .small-12.columns= render "individual_show"
    
  - else
    %h3.pagetitle #{@group.try(:name)}'s #{@assignment.name}
      
    .small-12.columns= render "group_show"