.small-12
  %h3.text-center Class Info
  
  .small-12
    %i.fi-crown
    Professor #{ current_course.professor.try(:name) }
  
  - if current_user.is_student?
    - current_student.team_leader.tap do |team_leader|
      - if team_leader.present?
        .small-12
          %i.fi-torso-business
          = "#{current_course.team_leader_term} #{team_leader.first_name}"
    - if current_user.is_student? && current_user.team_for_course(current_course).present?
      .small-12
        %i.fi-torsos-all
        = "#{term_for :team} #{current_user.team_for_course(current_course).name}"
    - if current_course.phone.present?
      .small-12
        %i.fi-telephone
        Phone Number: #{current_course.phone }
    - if current_course.class_email.present?
      .small-12
        %a{:href => "mailto:#{current_course.class_email}"}
          %i.fi-mail
          Class Email: #{current_course.class_email}
    - if current_course.twitter_handle.present?
      .small-12
        %a{:href => "http://www.twitter.com/##{current_course.twitter_handle}"}
          %i.fi-social-twitter
          Twitter Handle:
          = current_course.twitter_handle
    - if current_course.twitter_hashtag.present?
      .small-12
        %a{:href => "http://www.twitter.com/##{current_course.twitter_hashtag}"}
          ="#"
          Hashtag:
          = current_course.twitter_hashtag
    - if current_course.meeting_times.present?
      .small-12
        %i.fi-projection-screen
        Classes Meet:
        = current_course.meeting_times
        = current_course.location
    - if current_course.office.present?
      .small-12
        %i.fi-safety-cone
        Professor's Office:
        = current_course.office
    - if current_course.office_hours.present?
      .small-12
        %i.fi-clock
        Office Hours:
        = auto_link(current_course.office_hours)