.small-12.columns
  %p
  #leaderboardBarChart
.small-12.columns
  %table.highchart.hidden{:data => { "graph-container" => "#leaderboardBarChart", "graph-type" => "column", "graph-legend-disabled" => 1, "graph-xaxis-rotation" => 0, "graph-color-1" => '#303285'} }
    %thead
      %tr
        %th Points
        %th Team
    %tbody
      - current_course.teams.order_by_high_score.each do |team|
        %tr
          %td= team.name
          %td.right.points= team.try(:score)

%table#leaderboard.responsive
  %tbody
    - current_course.teams.order_by_high_score.each_with_index do |team, index|
      %tr{class: ("complete" if current_student.present? && team == current_student.team_for_course(current_course)) }
        %td.rank{:width => "20"}= index + 1
        %td.name
          - if current_user_is_student?
            = team.name
          - else 
            = link_to team.name, team_path(team)
        %td.score
          = points team.try(:score)