
.small-12.columns
  #leaderboardBarChart
.small-12.columns
  %table.highchart.hidden{:data => { "graph-container" => "#leaderboardBarChart", "graph-type" => "column", "graph-legend-disabled" => 1, "graph-xaxis-rotation" => 0, "graph-color-1" => '#303285'} }
    %thead
      %tr
        %th Points
        %th Team
    %tbody
      - current_course.teams.order_by_high_score.each do |team|
        %tr
          %td= team.name
          %td.right.points= team.try(:score)

.small-12.columns
  #leaderboard
    - i = 1
    - current_course.teams.order_by_high_score.each do |team|
      .small-12.columns.team{:id => "place-#{i}", class: ("complete" if current_student.present? && team == current_student.team_for_course(current_course)) }
        .small-1.columns.rank= i
        .small-9.columns.name
          - if current_user.is_student?
            = team.name
          - else 
            = link_to team.name, team_path(team)
        .small-2.columns.score= points team.try(:score)
      - i += 1