.small-12.panel.mainContent

  = content_nav_for @team, "Edit #{term_for :team}"

  %h3.pagetitle= @title

  .small-12.columns
    .button-bar
      %ul.button-group.context_menu
        %li
          %a{:href => team_path(@team) }
            %i.fi-list-thumbnails
            See #{term_for :team} 
    %br
  
  .small-12.columns
    = render 'form'