.small-12.panel.mainContent
  
  = content_nav_for Team

  .small-12
    %h3.pagetitle= @title

  .small-12.columns
    .button-bar
      %ul.button-group.context_menu
        %li
          %a{:href => new_team_path }
            %i.fi-plus
            New #{(term_for :team).titleize}
    %br

  .small-12.columns
    = render "leaderboard"
    = render "stats"