.small-12.panel.mainContent
  / Create Team Breadcrumbs
  = content_nav do
    = render "tabs"
  
  = content_nav_for Team, "New #{term_for :team}"

  %h3.pagetitle= @title
  
  .small-12.columns
    = render 'form'

  .clearfix