- if current_user_is_staff?
  .small-12.panel.mainContent
    
    = content_nav_for @assignment_type, "Grade Patterns"

    .small-12
      %h3.pagetitle= @title

    .small-12.columns
      .button-bar
        %ul.button-group.context_menu
          %li
            %a{:href => assignment_type_path(@assignment_type) }
              %i.fi-list-thumbnails
              See #{@assignment_type.name} #{term_for :assignments}
          %li
            %a{:href => edit_assignment_type_path(@assignment_type)}
              %i.fi-pencil
              Edit #{@assignment_type.name}

      %br

    .small-12.columns

      - if current_course.has_teams?
        .small-12.right.medium-6.large-4.columns
          = form_tag all_grades_assignment_type_path(@assignment_type), :name => "see_team", :onchange => ("javascript: document.see_team.submit();"), :method => :get do
            %label 
              .sr-only Select #{term_for :team}
              = select_tag :team_id, options_for_select(current_course.teams.alpha.map { |t| [t.name, t.id] }, @team.try(:id)), :prompt => "Select #{current_course.team_term}"

      .small-12.medium-6
        %table
          %tr
            %th
              %i.fi-heart.complete
              Full Points

            %th
              %i.fi-cloud.partial
              Partial Points
            %th
              %i.fi-skull.absent
              Zero Points
            %th
              %i.fi-skull.missing_grade
              No Grade
        .italic
          Numbers reflect streaks - how many times in a row a #{(term_for :student).downcase} has earned the maximum number of points on an #{term_for :assignment}

    / Gradebook Pattern Table
    .columns
      #gradebook
        %table.responsive
          %thead
            %tr
              %th First Name
              %th Last Name
              - for assignment in @assignment_type.assignments.chronological.alphabetical
                - if assignment.point_total > 0
                  %th.sortable{"data-sort" => "int"}= assignment.due_at.strftime("%b %d") if assignment.due_at.present?
          %tbody
            - @students.each do |student|
              %tr
                %td= link_to student.first_name, student_path(student)
                %td= link_to student.last_name, student_path(student)
                - i = 0
                - @assignment_type.assignments.chronological.each do |assignment|
                  - if assignment.point_total > 0

                    - assignment.grade_for_student(student).tap do |grade|

                      - if grade && grade.score == assignment.point_total
                        - i += 1
                        // Displaying td's colored green if the student earned all points possible on the assignment
                        %td
                          %i.fi-heart.complete
                            = i

                      - elsif grade && grade.score == 0
                        // Displaying td's colored red if the student earned no points on the assignment (but HAS a grade)
                        - i = 0
                        %td
                          %i.fi-skull.absent

                      - elsif grade && grade.score < assignment.point_total
                        // Displaying td's colored yellow if the student earned some points on the assignment
                        - i = 0
                        %td
                          %i.fi-cloud.partial

                      - else
                        // Displaying td's colored white if the studnet has no grade
                        - i = 0
                        %td
                          - if assignment.past?
                            %i.fi-skull.missing_grade
