.small-12.panel.mainContent

  = content_nav_for @assignment_type, "Edit #{term_for :assignment_type}"

  %h3.pagetitle= @title

  .small-12.medium-4.right.columns
    .button-bar.right
      %ul.button-group.context_menu
        %li
          %i.fi-plus
          = link_to "New #{term_for :assignment_type}", new_assignment_type_path
        %li
          %i.fi-pencil
          = link_to "See #{@assignment_type.name}", assignment_type_path(@assignment_type)
        %li
          %i.fi-graph-bar
          = link_to "#{@assignment_type.name} Performance", all_grades_assignment_type_path(@assignment_type)

  / Display Assignment Type form
  .small-12.columns
    = render 'form'