.small-12.panel.mainContent
  / Assignment Type Navigation
  = content_nav do
    = render "assignments/tabs"

  %h3.pagetitle#tableCaption= @title

  .columns
    %table.responsive.nofeatures_dynatable{"aria-describedby" => "tableCaption"}
      %thead
        %tr
          %th{:scope => "col"} Name
          %th{:scope => "col"} Predictor Display
          %th{:scope => "col"} Max value
          %th.button-column
            %span.sr-only Actions
        %tbody
          - current_course_data.assignment_types.each do |assignment_type|
            %tr
              %td= link_to assignment_type.name, assignment_type
              %td= assignment_type.points_predictor_display
              %td= assignment_type.max_value
              %td
                .button-bar
                  %ul.button-group.right.round
                    %li 
                      %a{:href => assignment_type_path(assignment_type), :class => 'button tiny'}
                        See
                        %span.sr-only= assignment_type.name

                    %li
                      %a{:href => edit_assignment_type_path(assignment_type), :class => 'button tiny'}
                        Edit
                        %span.sr-only= assignment_type.name

                    %li
                      %a{:href => assignment_type_path(assignment_type), :data => { confirm: 'Are you sure?', method: :delete }, :class => "button tiny" }
                        Delete
                        %span.sr-only= assignment_type.name
