.small-12.panel.mainContent

  = content_nav_for @assignment_type
  
  .small-12
    %h3.pagetitle#pageCaption= @title

  .small-12.columns
    .button-bar
      %ul.button-group.context_menu
        %li
          %a{:href => new_assignment_type_path }
            %i.fi-plus
            New #{(term_for :assignment_type).titleize}
        %li
          %a{:href => edit_assignment_type_path(@assignment_type) }
            %i.fi-pencil
            Edit
        %li
          %a{:href => all_grades_assignment_type_path(@assignment_type) }
            %i.fi-graph-bar
            Performance
    %br

  .columns
    %table.responsive.nofeatures_dynatable{"aria-describedby" => "tableCaption"}
      %thead
        %tr
          %th{:scope => "col"} Name
          %th{:scope => "col", "data-dynatable-sorts" => "dueDate"}  Open - Due
          %th{:style => "display: none"} Due Date
          %th{:scope => "col"} Points
          %th{:scope => "col"}
            %span.sr-only Actions
      %tbody
        - @assignment_type.assignments.alphabetical.chronological.each do |assignment|
          - if assignment.visible? || (current_user_is_student? && current_student_data.grade_released_for_assignment?(assignment)) || current_user_is_staff?
            %tr
              %td= link_to assignment.name, assignment
              %td
                = "#{assignment.open_at } -" if assignment.open_at.present?
                = assignment.try(:due_at) || "Ongoing"
              %td= assignment.try(:due_at).to_formatted_s(:db) if assignment.due_at.present?
              %td= points assignment.point_total
              - if current_user_is_staff?
                %td
                  %ul.button-group.right.radius
                    %li
                      %a{:href => mass_grade_assignment_path(assignment), :class => 'button' }
                        Quick Grade
                        %span.sr-only=assignment.name
                    %li
                      %a{:href => edit_assignment_path(assignment), :class => "button"}
                        Edit
                        %span.sr-only=assignment.name
                    %li
                      %a{:href => assignment_path(assignment), :data => { confirm: 'Are you sure?', method: :delete }, :class => "button" }
                        Delete
                    %li
                      = link_to "Copy", copy_assignments_path(:id => assignment), :class => 'button', :method => :copy
                      %span.sr-only=assignment.name
              - else
                - if assignment.accepts_submissions? && assignment.has_groups?
                  - if current_student.group_for_assignment(assignment)
                    %td= link_to "See Group", group_path(current_student.group_for_assignment(assignment)), :class => "button"
                    - if assignment.accepts_submissions?
                      = render "students/group_submissions", assignment: assignment, group: current_student.group_for_assignment(assignment)
                  - else
                    %td= link_to "Create a Group", new_group_path, :class => "button"
                - elsif assignment.accepts_submissions? && assignment.is_individual?
                  - current_student.submission_for_assignment(assignment).tap do |submission|
                    - if submission
                      %td= link_to "See Submission", assignment_grade_path(assignment.id, :student_id => current_student.id), :class => 'button'
                      %td
                      %td
                      %td
                    - else
                      %td= link_to "Submit", new_assignment_submission_path(assignment, @submission, :user_id => current_student.id, :student_type => "User"), :class => 'button'
                      %td
                      %td
                      %td
                - else
                  %td
                  %td
                  %td
