= form_tag edit_status_grades_assignment_path @assignment do
  %table.responsive.nofeatures_dynatable
    %thead
      %tr
        %th First Name
        %th Last Name
        %th Raw Score
        - if @assignment.assignment_type.student_weightable?
          %th Multiplied Score
        - if @assignment.has_levels?
          %th Level
        %th Feedback
        - if @assignment.release_necessary?
          %th Status
        - if @assignment.accepts_submissions?
          %th Submission
        %th
        - if @assignment.release_necessary?
          %th
            .button-bar
              %ul.button-group.right.round
                %li
                  %button.button.select-all.tiny= "Check All"
                %li
                  %button.button.select-none.tiny= "Uncheck All"
    %tbody
      - if @team
        - students = current_course_data.students_for_team(@team)
      - else
        - students = current_course_data.students
      - students.each do |student|
        - grade = current_course_data.grade_for_student_and_assignment(student, @assignment)
        %tr
          %td= link_to student.first_name, student_path(student)
          %td= link_to student.last_name, student_path(student)
          %td{:data => { :"sort-value" => "#{grade.raw_score}"} }= points grade.raw_score if grade.status?
          - if @assignment.assignment_type.student_weightable?
            %td
              = points grade.score if grade.status?
          - if @assignment.has_levels?
            %td
              = @assignment.grade_level(grade) if grade.status?
          %td= raw grade.feedback if grade.feedback?
          - if @assignment.release_necessary?
            %td
              - if grade.is_released?
                = "Released"
              - elsif grade.is_graded?
                = "Graded"

          - if @assignment.accepts_submissions?
            %td
              - student.submissions.where(:assignment_id => @assignment).each do |submission|
                - if submission && grade
                  = link_to "See Submission", assignment_grade_path(@assignment.id, :student_id => student.id), :class => 'button'
                - elsif submission
                  = link_to "See Submission", assignment_grade_path(@assignment.id, :student_id => student.id), :class => 'button'
                - else
                  = link_to "Submit", new_assignment_submission_path(@assignment, @submission, :user_id => student.id, :student_type => "User"), :class => 'button'
          %td
            .button-bar
              %ul.button-group.round.right
                %li= link_to "Dashboard", student_path(student), :class => 'button'
                - if grade.is_graded? || grade.is_released?
                  %li= link_to "Edit Grade", edit_assignment_grade_path(@assignment, :student_id => student.id), :class => 'button'
                - else
                  %li= link_to 'Grade', edit_assignment_grade_path(@assignment, :student_id => student.id), :class => 'button'
          - if @assignment.release_necessary?
            %td.text-center
              - if grade.is_graded?
                = check_box_tag "grade_ids[]", grade.id

  %p


  - if @auditing.present?

    %h3 Auditing #{term_for :students}

    %table.responsive.dynatable
      %thead
        %tr
          %th First Name
          %th Last Name
          %th Raw Score
          - if @assignment.assignment_type.student_weightable?
            %th Multiplied Score
          - if @assignment.has_levels?
            %th Level
          - if @assignment.release_necessary?
            %th Status
          - if @assignment.accepts_submissions?
            %th Submission
          %th
          - if @assignment.release_necessary?
            %th
              .button-bar
                %ul.button-group.right.round
                  %li
                    %button.select-all.tiny= "Check All"
                  %li
                    %button.select-none.tiny= "Uncheck All"
      %tbody
        - if @team
          - students = current_course_data.auditing_students_for_team(@team)
        - else
          - students = current_course_data.auditing_students
        - students.each do |student|
          - grade = current_course_data.grade_for_student_and_assignment(student, @assignment)
          %tr
            %td= link_to student.first_name, student_path(student)
            %td= link_to student.last_name, student_path(student)
            %td{:data => { :"sort-value" => "#{grade.raw_score}"} }= points grade.raw_score if grade.status?
            - if @assignment.assignment_type.student_weightable?
              %td
                = points grade.score if grade.status?
            - if @assignment.has_levels?
              %td
                = @assignment.grade_level(grade) if grade.status?
            - if @assignment.release_necessary?
              %td
                - if grade.is_released?
                  = "Released"
                - elsif grade.is_graded?
                  = "Graded"
            - if @assignment.accepts_submissions?
              %td
                - student.submissions.where(:assignment_id => @assignment).each do |submission|
                  - if submission && grade
                    = link_to "See Submission", assignment_grade_path(@assignment.id, :student_id => student.id), :class => 'button'
                  - elsif submission
                    = link_to "See Submission", assignment_grade_path(@assignment.id, :student_id => student.id), :class => 'button'
                  - else
                    = link_to "Submit", new_assignment_submission_path(@assignment, @submission, :user_id => student.id, :student_type => "User"), :class => 'button'
            %td
              .button-bar
                %ul.button-group.right.round
                  %li= link_to "Dashboard", student_path(student), :class => 'button'
                  - if grade.is_graded? || grade.is_released?
                    %li= link_to "Edit Grade", edit_assignment_grade_path(@assignment, :student_id => student.id), :class => 'button'
                  - else
                    %li= link_to 'Grade', edit_assignment_grade_path(@assignment, :student_id => student.id), :class => 'button'
            - if @assignment.release_necessary?
              %td.text-center
                - if grade.is_graded?
                  = check_box_tag "grade_ids[]", grade.id

  - if @assignment.release_necessary? && @assignment.grades.present?
    .right
      = submit_tag "Update Selected Grade Statuses", :class => "button tiny radius"
