- if @assignment.rubric.present? && @assignment.rubric.designed?    
  - if current_user_is_staff?
    %h3#rubric-preview-headline Rubric Preview 
    %h4#ungraded-subtitle= "#{@ungraded_percentage}% ungraded"
  - else
    %h3#rubric-preview-headline Grading Rubric
  #preview-rubric(style="font-size: 12px")
    %table#grade-rubric-table(width="100%")
      %thead
        %tr
          %td.metric.heading
            %label.larger
              <strong>Criterion</strong>:&nbsp;Max&nbsp;points
          %td.tier.heading(colspan="#{@assignment.rubric.try(:max_tier_count)}")
            %label.larger
              %strong Level:
              Point value

      %tbody
        - @metrics.ordered.each do |metric|
          %tr
            %td.metric(style="font-size: 12px !important")
              .metric-heading
                .metric-name= metric.wrapped_name(28).html_safe
                .metric-points= "#{metric.max_points} Points"
                .clear
              .metric-description= metric.wrapped_description(40).html_safe

            - metric.tiers.order("points ASC").each do |tier|
              %td.tier
                .tier-heading
                  .tier-name= tier.wrapped_name(25).html_safe
                  .clear
                  .tier-points= "#{tier.points} Points"
                .clear
                .tier-description= tier.wrapped_description(38).html_safe

                .row.badge-row
                  - tier.tier_badges.each_with_index do |badge, index|
                    - if index < 2
                      .tier-badge-image
                        = image_tag "badge.png", width: "30px", height: "30px"
                  .clear

                - if current_user_is_student?
                  - if @rubric_grades.select {|rubric_grade| rubric_grade.tier_id == tier[:id] }.count > 0
                    .level-scored You scored at this level

                - if tier.rubric_grades.size > 0
                  .students-padding
                  //.graded-students= "#{tier.rubric_grades.size} students (#{'%.0f' % ((tier.rubric_grades.size/@graded_count).to_f * 100)}%) at this level"
            - if metric.tiers.size < @rubric.max_tier_count
              %td.filler(colspan="#{@rubric.max_tier_count - metric.tiers.size}")
