= content_nav_for @assignment, "Guidelines & Downloads"

.small-12
  %h3.pagetitle= "#{@title} (#{ points @assignment.point_total } points)"

.small-12.columns
  %br
  -if @assignment.due_at.present?
    .italic= "Due: #{@assignment.due_at}"    
  - if @assignment.assignment_files.present?
    %ul
      .bold Downloads:
      - @assignment.assignment_files.each do |af|
        %li
          = link_to af.filename, af.url
  
  - if @assignment.required?
    .alert ! This #{term_for :assignment} is required!