.small-12.panel.mainContent

  = content_nav_for @assignment, "Edit #{term_for :assignment}"

  %h3.pagetitle= @title

  .small-12.columns
    .button-bar
      %ul.button-group.context_menu
        %li
          %a{ :href => new_assignment_path }
            %i.fi-plus
            New #{term_for :assignment}
        %li
          %a{ :href => assignment_path(@assignment) }
            %i.fi-list-thumbnails
            See #{@assignment.name}
    %br

  .small-12.columns

    = render 'form'
