.small-12.panel.mainContent

  - if current_user_is_staff?
    = content_nav_for @assignment
  
  .small-12
    %h3.pagetitle= "#{@title} (#{ points @assignment.point_total } points)"

  - if current_user_is_staff?
    .small-12.columns
      .button-bar
        %ul.button-group.context_menu
          %li
            %a{:href => new_assignment_path }
              %i.fi-plus
              New #{(term_for :assignment).titleize}
          - if @assignment.description.present?
            %li
              %a{:href => guidelines_assignment_path(@assignment) }
                %i.fi-download
                Downloads
          %li
            %a{:href => edit_assignment_path(@assignment) }
              %i.fi-pencil
              Edit
          - if @team.present?
            %li
              %a{:href => mass_grade_assignment_path(@assignment, :team_id => @team) }
                %i.fi-list-thumbnails
                Quick Grade
          - else
            %li
              %a{:href => mass_grade_assignment_path(@assignment) }
                %i.fi-check
                Quick Grade

          %li
            %a{:href => design_assignment_rubric_path(@assignment) }
              %i.fi-list-thumbnails
              - if @assignment.rubric and @assignment.rubric.designed?
                Edit Rubric
              - else
                Create Rubric 
          %li
            %a{:href => import_grades_assignment_path(@assignment) }
              %i.fi-upload
              Import Grades
          %li
            %a{:href => export_grades_assignment_path(format: 'csv') }
              %i.fi-page-export-csv
              Download Grades

  .small-12.columns
    %br
    -if @assignment.due_at.present?
      .italic= "Due: #{@assignment.due_at}"    
    - if @assignment.assignment_files.present?
      %ul
        .bold Downloads
        - @assignment.assignment_files.each do |af|
          %li
            = link_to af.filename, af.url
    
  - if @assignment.rubric.present? && @assignment.rubric.designed?  
    .small-12.columns
      %hr
    
      %h4.uppercase Grading Rubric:
    #preview-rubric(style="font-size: 12px")
      %table.small-12
        %thead
          %tr
            %td.metric.heading
              %label.larger
                <strong>Criterion</strong>:&nbsp;Max&nbsp;points
            %td.tier.heading(colspan="#{@assignment.rubric.try(:max_tier_count)}")
              %label.larger
                %strong Level:
                Point value

        %tbody
          - @metrics.each do |metric|
            %tr
              %td.metric(style="font-size: 12px !important")
                .metric-heading
                  .metric-name= metric.wrapped_name(28).html_safe
                  .metric-points= "#{metric.max_points} Points"
                  .clear
                .metric-description= metric.wrapped_description(40).html_safe

              - metric.tiers.order("points ASC").each do |tier|
                %td.tier
                  .tier-heading
                    .tier-name= tier.wrapped_name(25).html_safe
                    .clear
                    .tier-points= "#{tier.points} Points"
                  .clear
                  %label.tier-description= tier.wrapped_description(38).html_safe

                  .row.badge-row
                    - tier.tier_badges.each_with_index do |badge, index|
                      - if index < 2
                        .tier-badge-image
                          = image_tag "badge.png", width: "30px", height: "30px"
                    .clear

                  - if current_user_is_student?
                    - if @rubric_grades.select {|rubric_grade| rubric_grade.tier_id == tier[:id] }.count > 0
                      .level-scored You scored at this level

                  - if tier.rubric_grades.size > 0
                    .students-padding
                    .graded-students= "#{tier.rubric_grades.size} students (#{'%.0f' % ((tier.rubric_grades.size/@graded_count).to_f * 100)}%) at this level"
              - if metric.tiers.size < @rubric.max_tier_count
                %td.filler(colspan="#{@rubric.max_tier_count - metric.tiers.size}")

    .small-12.columns
      %hr
    
      %h4.uppercase Guidelines:
      %p= raw @assignment.description

      - if @assignment.assignment_type.predictor_description.present?
        %hr
        %h4.uppercase #{ @assignment.assignment_type.name} Guidelines:

        %p= raw @assignment.assignment_type.predictor_description
