.small-12.panel.mainContent

  - if current_user_is_staff?
    = content_nav_for @assignment

  .small-12
    %h3.pagetitle= "#{@title} (#{ points @assignment.point_total } points)"

  .small-12.columns
    .small-12.medium-4.columns.panel
      .italic= "Opens at: #{@assignment.due_at}"  
    .small-12.medium-4.columns.panel
      .italic= "Due: #{@assignment.due_at}"    
    
    .small-12.medium-4.columns.panel
      .italic Attachments:
      %ul
        - if @assignment.assignment_files.present?
          - @assignment.assignment_files.each do |af|
            %li
              = link_to af.filename, af.url
              = af.try(:filepath)
    %p= raw @assignment.description

    %hr

    %h3.uppercase #{ @assignment.assignment_type.name} Guidelines

    %p= raw @assignment.assignment_type.predictor_description
