.small-12.panel.mainContent
  / Assignment Navigation
  = content_nav do
    - if current_user.is_staff?
      = render "tabs", :assignment => @assignment
    - else
      = render "students/student_profile_tabs"

  %span.pagetitle= "#{@title} (#{ points @assignment.point_total } points)"
  - if @assignment.description.present?
    .small-12.medium-4.columns.right
      .right= render "assignments/description"
  .clearfix

  - if current_user.is_staff?
    .small-12.columns
      - if @assignment.rubric and @assignment.rubric.designed?
        %h3!= link_to "Edit Rubric", design_assignment_rubric_path(@assignment)
      - else
        %h3!= link_to "Design Rubric", design_assignment_rubric_path(@assignment)

    .small-12.columns
      - if @assignment.has_groups?
        = render "group_show"
      - else
        = render "individual_show"
  - else
    .small-12.columns
      - if @assignment.has_groups?
        = render "grades/group_show"
      - else
        = render "grades/individual_show"

  .clearfix
      
  %h3#rubric-preview-headline Rubric Preview
  %h4#ungraded-subtitle= "#{@ungraded_percentage}% ungraded"
  #preview-rubric(style="font-size: 12px")
    %table#grade-rubric-table
      %thead
        %tr
          %td.metric.heading
            %label.larger
              <strong>Criterion</strong>:&nbsp;Max&nbsp;points
          %td.tier.heading(colspan="#{@assignment.rubric.max_tier_count}")
            %label.larger
              %strong Level:
              Point value

      %tbody
        - @metrics.each do |metric|
          %tr
            %td.metric(style="font-size: 12px !important")
              .metric-heading
                .metric-name= metric.name
                .metric-points= "#{metric.max_points} Points"
              .metric-description= metric.description

            - metric.tiers.each do |tier|
              %td.tier
                .tier-heading
                  .tier-name= tier.name
                  .tier-points= "#{tier.points} Points"
                .clear
                %label.tier-description= tier.description

                .row.badge-row
                  - tier.tier_badges.each_with_index do |badge, index|
                    - if index < 2
                      .tier-badge-image
                        = image_tag "badge.png", width: "30px", height: "30px"
                  .clear

                - if tier.rubric_grades.size > 0
                  .students-padding
                  .graded-students= "#{tier.rubric_grades.size} students (#{tier.rubric_grades.size/@graded_count}%) at this level"
            - if metric.tiers.size < @rubric.max_tier_count
              %td.filler(colspan="#{@rubric.max_tier_count - metric.tiers.size}")
