.small-12.panel.mainContent
  / Assignment Navigation
  = content_nav do
    - if current_user.is_staff?
      = render "tabs", :assignment => @assignment
    - else
      = render "students/student_profile_tabs"

  %span.pagetitle= "#{@title} (#{ points @assignment.point_total } points)"
  - if @assignment.description.present?
    .small-12.medium-4.columns.right
      .right= render "assignments/description"
  .clearfix
  - if current_user.is_staff?
    .small-12.columns
      - if @assignment.rubric and @assignment.rubric.designed?
        %h3!= link_to "Edit Rubric", design_assignment_rubric_path(@assignment)
      - else
        %h3!= link_to "Design Rubric", design_assignment_rubric_path(@assignment)

    .small-12.columns
      - if @assignment.has_groups?
        = render "group_show"
      - else
        = render "individual_show"
  - else
    .small-12.columns
      - if @assignment.has_groups?
        = render "grades/group_show"
      - else
        = render "grades/individual_show"

  .clearfix
      
