.small-12.panel.mainContent
  / Assignment Navigation
  = content_nav do
    - if current_user_is_staff?
      = render "tabs", :assignment => @assignment
    - else
      = render "students/student_profile_tabs"

  %span.pagetitle= "#{@title} (#{ points @assignment.point_total } points)"
  - if @assignment.description.present?
    .small-12.medium-4.columns.right
      .right= render "assignments/description"
  .clearfix

  
  - if current_user_is_staff?
    #rubric-stuff
      = render "view_rubric"

    .small-12.columns.assignment-submissions
      - if @assignment.has_groups?
        = render "group_show"
      - else
        = render "individual_show"
  - else
    #rubric-stuff= render "view_rubric"
    .small-12.columns.assignment-submissions
      - if @assignment.has_groups?
        = render "grades/group_show"
      - else
        = render "grades/individual_show"

  .clearfix
   
