.small-12.panel.mainContent

  - if current_user_is_staff?
    = render "view_assignment_management"
  - else
    = render "view_assignment_grades"

  .clearfix
   
  - if @assignment.rubric.present? && @assignment.rubric.designed?    
    - if current_user_is_staff?
      %h3#rubric-preview-headline Rubric Preview 
      %h4#ungraded-subtitle= "#{@ungraded_percentage}% ungraded"
    - else
      %h3#rubric-preview-headline Grading Rubric

    = render "rubric_preview"
