%table.responsive.nofeatures_default_rank_dynatable{:role => "grid"}
  %thead
    %tr
      %th{ :scope => "column", :width => "20%" }= course.user_term
      %th{ :scope => "column", :width => "10%"} Score
      - if course.has_badges?
        %th{ :scope => "column", :width => "5%" } Badges
      - if course.has_teams?
        %th{ :scope => "column" }= course.team_term
        %th{ :scope => "column" }= course.team_leader_term
      %th{ :scope => "column", :width => "20%"  } Last Login
  %tbody
    - students.each do |student|
      %tr
        %td= link_to student.name, student_path(student)
        %td= points student.cached_score_for_course(current_course)

        - if course.has_badges?
          %td= student.earned_badges.count

        - if course.has_teams?
          %td
            - if student.team_for_course(course)
              = link_to student.team_for_course(current_course).name, student.team_for_course(current_course)
          %td
            - if student.team_for_course(course) && student.team_for_course(course).leaders.present?
              %ul
                - student.team_for_course(course).leaders.each do |leader|
                  %li= link_to leader.first_name, staff_path(leader)
        %td= student.try(:last_activity_at) || "(never)"
