.small-12.panel.mainContent
  / Assignment Charts Navigation
  = content_nav do
    = render "analytics/tabs"

  = content_nav_for "#{term_for :assignment} Analytics"

  %h3.pagetitle= "#{term_for :assignment} Analytics"

  .clearfix
  
  - @assignments.group_by(&:assignment_type).each do |assignment_type, assignments|
    %h4.subtitle= assignment_type.name 

    .columns
      %table.responsive.nofeatures_dynatable
        %thead
          %tr
            %th Name
            %th Min
            %th Max
            %th Median
            %th 
              Avg
              %i.fi-info{:title => "The average of all grades, including those who earned zero", :data => {'tooltip' => true} }
            %th 
              Avg Earned
              %i.fi-info{:title => "The average of all scores above zero", :data => {'tooltip' => true} }
            %th # Submissions
        %tbody
          - assignments.each do |assignment|
            %tr
              %td= link_to assignment.name, assignment
              %td= points assignment.low_score
              %td= points assignment.high_score
              %td= points assignment.median
              %td= points assignment.average
              %td= points assignment.earned_average
              %td= assignment.submissions.count
    .clearfix
    %hr
