.columns.columns-no-padding.sideBar
  .gravatar.panel.radius
    .button-group.right.radius{:style => "margin-top: 2px" }
      %li
        %a{:href => edit_user_path(current_student), :class => "button transparent" }
          Edit
      %li
        %a{:href => "mailto:#{current_student.email}", :class => "button transparent" }
          Email
    %span.large= current_student.name
    = gravatar_for current_student
    %p
    %h5
      = "#{term_for :team} #{current_student.team_for_course(current_course).name}" if current_student.team_for_course(current_course).present?

    %h5
      = "Last activity: #{current_student.try(:last_activity_at) || "(never)"} "

  - if current_course.student_weighted?
    .panel.radius= render 'students/sidebar/sidebar_assignment_weights'

  .panel.radius= render 'students/sidebar/sidebar_grade_distribution'

  - if current_course.has_badges?
    .panel.radius= render "students/sidebar/sidebar_badges"