.columns.columns-no-padding.sideBar
  .gravatar.panel.radius.center
    %h4
      %a{:href => "mailto:#{current_student.email}" }
        %i.fi-mail
        = current_student.name
    = gravatar_for current_student
    %p
    %h5
      = "#{term_for :team} #{current_student.team_for_course(current_course).name}" if current_student.team_for_course(current_course).present?

    %h5
      = "Last activity: #{current_student.try(:last_activity_at) || "(never)"} "

  - if current_course.student_weighted?
    .panel.radius= render 'students/sidebar/sidebar_assignment_weights'

  .panel.radius= render "students/sidebar/sidebar_to_do_list"

  .panel.radius= render 'students/sidebar/sidebar_grade_distribution'

  - if current_course.has_badges?
    .panel.radius= render "students/sidebar/sidebar_badges"