%table.responsive.paginate_default_last_name_dynatable
  %thead
    %tr
      %th First Name
      %th Last Name
      - if current_course.in_team_leaderboard?
        %th Screenname
      - if current_course.has_teams?
        %th #{current_course.team_term}
      - if current_course.team_roles?
        %th Role
      %th Score
      %th Grade
      %th{ :style => "min-width: 200px" }
  %tbody
    - students.each do |student|
      %tr          
        %td
          - if student.avatar_file_name.present?
            %img.img-rounded{:src => student.avatar_file_name, :width => 30} 
          = link_to student.first_name, student_path(student)
        %td= link_to student.last_name, student_path(student)
        - if current_course.in_team_leaderboard?
          %td
            = student.display_name
        - if current_course.has_teams?
          %td
            - if student.team_for_course(current_course)
              = link_to student.team_for_course(current_course).name, student.team_for_course(current_course)
        - if current_course.team_roles?
          %td= student.try(:team_role)
        - if student.respond_to?(:grades)
          %td= current_course.score_for_student(student)
          %td
            = student.grade_letter_for_course(current_course)
            = "-" if student.grade_letter_for_course(current_course).present? && student.grade_level_for_course(current_course).present?
            = student.grade_level_for_course(current_course)
        %td
          .button-bar
            %ul.button-group.right.radius
              %li= link_to "Dashboard", student_path(student), :class => "button"
              %li= link_to "Edit", edit_user_path(student), :class => "button"
              %li= link_to 'Delete', student.course_memberships.where(:course_id => current_course.id).first, :class => 'button', :data => { confirm: 'This will delete the student from your course - Are you sure?' }, :method => :delete
