.small-12.panel.mainContent
  / Student Index breadcrumbs
  = content_nav do
    = render "users/tabs"

  %h3.pagetitle= @title

  .small-12.medium-4.columns.right
    / Checking to see if the current course has teams, displaying the team filter if it does
    - if current_course.has_teams?
      = form_tag students_path, :name => "see_team", :onchange => ("javascript: document.see_team.submit();"), :method => :get do
        = select_tag :team_id, options_for_select(current_course.teams.alpha.map { |t| [t.name, t.id] }, @team.try(:id)), :prompt => "Select a #{current_course.team_term}"

  .small-12.columns

    / Display the table of course students, their leaderboard display, their team affiation, their score and their grade
    - if @team
      = render 'students_table', :course => current_course, :students => current_course_data.students_for_team(@team)
    - else 
      = render 'students_table', :course => current_course, :students => current_course_data.students

  .clearfix

  - if (! @team && current_course_data.auditing_students.present?) || (@team && current_course_data.auditing_students_for_team(@team).present?)
    / Display the table of auditing students if they're present
    .pagetitle= "Auditing Roster"

    .small-12.columns
      - if @team
        = render 'students_table', :course => current_course, :students => current_course_data.auditing_students_for_team(@team)
      - else 
        = render 'students_table', :course => current_course, :students => current_course_data.auditing_students

  .clearfix
