.small-12.panel.mainContent
  = content_nav do
    = render "student_profile_tabs"

  .pagetitle= "Plan Your Coursework"

  .small-12.columns

    .gradePredictor
      #predictorWrapper#studentID{ 'data-student-id' => current_student.id }
        %h4
          Predicted points:
          %span#predictor-score-display.bold
          = "/"
          %span= "#{ points current_course.total_points } possible points"
          –
          Predicted final grade:
          %span.bold#predictor-course-grade{:'data-grade-levels' => "#{@grade_levels_json}"}

      .charts.dashboard-charts
        .chart-wrapper
          .chart-inner
            #prediction

      .clearfix

    %hr

    #predictorPage{ 'data-student-name' => current_student.name, 'data-course-total' => current_course.total_points }
      %ul.slides.small-12.columns
        - if current_user_is_staff?
          = render partial: 'students/predictor/instructor_assignments', collection: current_course_data.by_assignment_type.to_a, as: :assignment_type_and_assignments
        - elsif current_user_is_student?
          = render partial: 'students/predictor/assignments', collection: current_course_data.predictable_by_assignment_type.to_a, as: :assignment_type_and_assignments
        = render 'students/predictor/badges'
        //= render 'students/predictor/challenges'

  .clearfix
