.small-12.panel.mainContent
  / Badges Navigation
  = content_nav do
    = render "badges/tabs"

  = content_nav_for @badge, "Edit Awarded #{term_for :badge}"

  %h3.pagetitle= @title

  .small-12.columns
    = render 'form'

  .clearfix