.small-12.panel.mainContent

  = content_nav_for @user

  %h3.pagetitle= @user.name

  .small-12.columns
  
    %h4 Courses
    %ul
      - @user.courses.each do |course|
        %li= link_to course.name, course

    %h4 Recently Graded
    %table.responsive.nofeatures_dynatable
      %thead
        %tr
          %th Assignment
          %th Student
          %th Score
          %th Feedback
          %th.button-column
      %tbody
        - current_course.grades.where(:graded_by => @user).each do |grade|
          %tr
            %td= link_to grade.assignment.name, assignment_path(grade.assignment)
            %td= link_to grade.student.name, student_path(grade.student)
            %td= points grade.score
            %td= raw grade.feedback
            %td
              = grade.created_at
              = grade.updated_at if grade.updated_at != grade.created_at