.small-12

  - if @badge.errors.any?
    .alert-box.alert.radius
      .italic= "#{pluralize(@badge.errors.count, "error")} prohibited this #{term_for :badge} from being saved:"
      %ul
        - @badge.errors.full_messages.each do |msg|
          %li= msg

  = simple_form_for @badge do |f|

    .small-12.columns.panel
      %h4.uppercase Basic Settings

      .small-12.medium-3.columns
        = f.label :name, "Name"
        = f.text_field :name

      .small-12.medium-2.columns
        = f.label :point_total
        = f.text_field :point_total, data: {autonumeric: true, "m-dec" => "0"}

      .small-12.medium-3.columns
        = f.label :file_field, "Icon"
        = f.file_field :icon
        %img{:src => @badge.icon }

      .small-12.medium-3.columns
        %label.checkbox{ :for => "visible" }
          = f.label :visible
          = f.check_box :visible
          .form_label Can #{term_for :students} see this #{term_for :badge}?
        %label.checkbox{ :for => "can_earn_multiple_times" }
          = f.label :can_earn_multiple_times,"Multi-award"
          = f.check_box :can_earn_multiple_times
          .form_label Can this #{term_for :badge} be given to one #{term_for :student} multiple times through the semester?
    .clear

    .small-12.columns.panel
      %h4.uppercase Description

      .small-12.textarea
        = f.bootsy_area :description
        .form_label Describe what this #{term_for :badge} means, and how it can be earned. Note that if this #{term_for :badge} is marked as visible then this description will also be viewable in the list of #{term_for :badges}.
      .clear

    .small-12.columns.panel
      %h4.uppercase Attachments
      .small-12
        = f.simple_fields_for :badge_files, @badge.badge_files.new do |bf|
          = bf.file_field :file, :multiple => true
        - if @badge.badge_files.exists?
          %h5.bold Uploaded files
          %ul.uploaded-files
            - @badge.badge_files.each do |bf|
              - next if bf.new_record?
              %li
                - if bf.file_processing
                  = "#{bf.filename}"
                  %span.has-tip{:title => "Refresh page to confirm upload has completed", :data => {'tooltip' => true}}
                    = "(upload in progress)"
                - else
                  = link_to bf.filename, bf.url, :target => "_blank"
                  = link_to "(Remove)", remove_uploads_path({ :model => "BadgeFile", :badge_id => @badge.id, :upload_id => bf.id } )
      .clear

    .button-bar
      %ul.button-group.radius.right
        %li= submit_tag "#{@badge.persisted? ? 'Update' : 'Create'} #{term_for :badge}", :class => 'button'
        %li= link_to 'Cancel', badges_path, :class => 'button'
