- if current_user_is_staff?
  .small-12.panel.mainContent
    / Badge Navigation
    - if current_user_is_staff?
      = content_nav do
        = render "tabs"

    = content_nav_for Badge

    .pagetitle= @title

    %span
      %b #{term_for :badges} :
      .label.round.bold=current_course.course_badge_count
    %span
      %b Awarded #{term_for :badges} :
      .label.round.bold=current_course.awarded_course_badge_count

    .small-12.columns

      //instructor badge index table
      %table.responsive.nopage_dynatable
        %thead
          %tr
            %th.center{"data-dynatable-no-sort" => "true" } Icon
            %th Awarded
            %th Description
            - if current_course.valuable_badges?
              %th{"data-sort" => "int"} Value
            %th Visible to Students
            %th.button-column
        %tbody
          - current_course_data.badges.each do |badge|
            %tr
              %td.center
                %img{:src => badge.icon, :alt => badge.name, :width => "80"}
              %td= badge.awarded_count
              %td
                .bold= link_to badge.name, badge_path(badge)
                = raw badge.description
              - if current_course.valuable_badges?
                %td= points badge.point_total
              %td
                - if badge.visible?
                  Yes
                - else
                  No
              %td
                .button-bar
                  %ul.button-group.right.round
                    %li= link_to "Quick Award", mass_award_badge_path(badge), :class => "button tiny secondary"
                    %li
                      %a{:href => edit_badge_path(badge), :class => 'button tiny secondary'}
                        Edit
                    %li
                      %a{:href => badge_path(badge),:class => "button tiny secondary" , :data => { confirm: 'Are you sure?',  method: :delete } }
                        Delete
    .clearfix
