Dear #{ @user.first_name },

You successfully submitted your work for #{ @assignment.name } on #{ @submission.created_at }.

Check out what other #{ @course.assignment_term.pluralize.downcase } you can complete in #{ @course.name } here: https://www.gradecraft.com/predictor

Play on!

GradeCraft