.small-12.panel.mainContent
  / Groups Navigation
  - if current_user_is_student?
    = render "students/student_profile_tabs"

  = content_nav_for @group, "Edit #{term_for :group}"

  %h3.pagetitle= @title

  .small-12.medium-3.right.columns
    .button-bar.right
      %ul.button-group.context_menu
        %li
          %i.fi-plus
          = link_to "See #{term_for :group}", group_path(@group)

  .small-12.columns
    = render 'form'