.small-12.panel.mainContent

  = content_nav_for @group, "Edit #{term_for :group}"

  %h3.pagetitle= @title

  .small-12.medium-3.right.columns
    .button-bar.right
      %ul.button-group.context_menu
        %li
          %a{:href => group_path(@group) }
            %i.fi-list-thumbnails
            See #{term_for :group}

  .small-12.columns
    = render 'form'