.mainContent
  / Groups Navigation
  = content_nav do
    = render "tabs"

  = content_nav_for Group

  - if @groups.pending.present?

    %h3.pagetitle= "Pending Groups"

    .small-12.columns  

      %table.responsive.nofeatures_dynatable
        %thead
          %tr
            %th Group Name
            %th= "#{current_course.user_term}s"
            %th Status
            %th Assignments
            %th.button-column
        %tbody
          - @groups.pending.each do |group|
            %tr
              %td= link_to group.name, group_path(group)
              %td
                - group.group_memberships.each do |gm|
                  %li= link_to gm.student.name, student_path(gm.student)
              %td= group.approved
              %td
                - group.assignment_groups.each do |ag|
                  %li= link_to ag.assignment.name, ag.assignment
              %td
                .button-bar
                  %ul.button-group.round.right
                    %li= link_to "Review #{term_for :group}", review_groups_path(:id => group), :class => 'button tiny secondary'
                    %li= link_to 'Edit', edit_group_path(group), :class => 'button tiny secondary'
                    %li= link_to 'Delete', group_path(group), :class => 'button tiny secondary', :data => { confirm: 'Are you sure?' }, :method => :delete

    .clearfix

  - if @groups.rejected.present?

    %h3.pagetitle= "Rejected Groups"

    .small-12.columns  

      %table.responsive.nofeatures_dynatable
        %thead
          %tr
            %th Group Name
            %th= "#{current_course.user_term}s"
            %th Status
            %th Assignments
            %th.button-column
        %tbody
          - @groups.rejected.each do |group|
            %tr
              %td= link_to group.name, group_path(group)
              %td
                - group.group_memberships.each do |gm|
                  %li= link_to gm.student.name, student_path(gm.student)
              %td= group.approved
              %td
                - group.assignment_groups.each do |ag|
                  %li= link_to ag.assignment.name, ag.assignment
              %td
                .button-bar
                  %ul.button-group.round.right
                    %li= link_to "Review #{term_for :group}", review_groups_path(:id => group), :class => 'button tiny secondary'
                    %li= link_to 'Edit', edit_group_path(group), :class => 'button tiny secondary'
                    %li= link_to 'Delete', group_path(group), :class => 'button tiny secondary', :data => { confirm: 'Are you sure?' }, :method => :delete

    .clearfix

  - if @groups.approved.present?
    
    .pagetitle= "Approved Groups"

    .small-12.columns  

      %table.responsive.nofeatures_dynatable
        %thead
          %tr
            %th Group Name
            %th= "#{current_course.user_term}s"
            %th Status
            %th Assignments
            %th.button-column
        %tbody
          - @groups.approved.each do |group|
            %tr
              %td= link_to group.name, group_path(group)
              %td
                - group.group_memberships.each do |gm|
                  %li= link_to gm.student.name, student_path(gm.student)
              %td= group.approved
              %td
                - group.assignment_groups.each do |ag|
                  %li= link_to ag.assignment.name, ag.assignment
              %td
                .button-bar
                  %ul.button-group.round.right
                    %li= link_to "Review #{term_for :group}", review_groups_path(:id => group), :class => 'button tiny secondary'
                    %li= link_to 'Edit', edit_group_path(group), :class => 'button tiny secondary'
                    %li= link_to 'Delete', group_path(group), :class => 'button tiny secondary', :data => { confirm: 'Are you sure?' }, :method => :delete

    .clearfix
