.mainContent

  = content_nav_for Group

  .small-12
    %h3.pagetitle= @title

  .small-12.columns
    .button-bar
      %ul.button-group.context_menu
        %li
          %a{:href => new_group_path }
            %i.fi-plus
            New #{term_for :group}

  - if @pending_groups.present?

    %h4.subtitle= "Pending #{term_for :groups}"

    = render 'groups_table', :course => current_course, :groups => @pending_groups

    .clear

  - if @rejected_groups.present?

    %h4.subtitle.fail= "Rejected #{term_for :groups}"

    = render 'groups_table', :course => current_course, :groups => @rejected_groups

    .clear

  - if @approved_groups.present?
    
    %h4.subtitle.success= "Approved #{term_for :groups}"

    = render 'groups_table', :course => current_course, :groups => @approved_groups