.small-12.panel.mainContent

  - if current_user_is_staff?
    = content_nav_for Group, "New #{term_for :group}"
  - else
    = content_nav_for Assignment, "New #{term_for :group}"

  %h3.pagetitle= @title

  .small-12.columns
    = render 'form'
