.small-12.columns.mainContent
  
  = content_nav_for @group, "Review Group"

  %h3.pagetitle= @title
  
  .small-12.columns
    .button-bar
      %ul.button-group.context_menu
        %li
          %a{:href => group_path(@group) }
            %i.fi-list-thumbnails
            See #{term_for :group}

  .small-12.columns.columns-no-padding
    .small-12.medium-3.columns
      %h4 #{term_for :assignments}:
      %ul
        - @group.assignment_groups.each do |ag|
          %li= link_to ag.assignment.name, ag.assignment
    .small-12.medium-3.columns
      %h4
        Members:
      %ul
        - @group.group_memberships.each do |gm|
          - if current_user_is_staff?
            %li= link_to gm.student.name, student_path(gm.student)
          - else
            %li= gm.student.name



    .small-12.columns
      - if @group.proposals.present?
        - @group.proposals.order_by_creation_date.each_with_index do |p, index|
          - if p.proposal.present?
            .panel.callout
              %h4.bold= "Proposal ##{index + 1}: #{p.title}" 
              %h6= "Created: #{p.created_at}"
              %p= p.proposal


      = simple_form_for @group do |f|
        .panel
          .small-12.medium-4
            = f.label :approved, "Status"
            = f.select :approved, [["Pending"], ["Approved"], ["Rejected"]]
            .form_label If rejected, this #{term_for :group} will be unable to submit any further work for these assignments

          %br

          .small-12.textarea
            = f.bootsy_area :text_feedback
            .form_label #{(term_for :group).capitalize} Feedback

        .button-bar
          %ul.button-group.radius.right
            %li= submit_tag "#{@group.persisted? ? 'Update' : 'Create'} #{ term_for :group } ",  :class => 'button'
            %li= link_to 'Cancel', groups_path, :class => 'button'
