.small-12.panel.mainContent
  / Group Navigation
  = content_nav do
    - if current_user_is_staff?
      = render "tabs"
    - else
      = render "students/student_profile_tabs"

  .pagetitle= "#{term_for :group}: #{@group.name}"
  = link_to "Edit", edit_group_path(@group), :class => "button tiny radius"

  .small-12.columns
    .label.right.radius
      Status:
      - if @group.approved.present?
        = @group.approved
      - else
        Pending

    .small-12.medium-3.columns
      %h4 Assignment(s)
      %ul
        - @group.assignment_groups.each do |ag|
          %li= link_to ag.assignment.name, ag.assignment

    .small-12.medium-3.columns
      %h4
        Members:
      %ul
        - @group.group_memberships.each do |gm|
          - if current_user_is_staff?
            %li= link_to gm.student.name, student_path(gm.student)
          - else
            %li= gm.student.name

    .small-12.medium-4.columns
      - if @group.text_feedback?
        %h4 Instructor Feedback:
        %p= raw @group.try(:text_feedback)

    .small-12.columns
      - i = 1
      - @group.proposals.order_by_creation_date.each do |p|
        .panel
          %h4.bold= "Proposal ##{i}: #{p.title}"
          %h6= "Created: #{p.created_at}"
          %p= p.proposal
        - i += 1

  .clearfix
