.small-12.panel.mainContent

  %h3.pagetitle= @title

  .small-12.columns   
    = simple_form_for(@user, method: :put, :url => update_profile_users_path(@user)) do |f|

      .small-3.columns.text-center.panel
        %label.left.bold Your Avatar
        %img{:src => @user.avatar_file_name, :width => 200, :height => 200 }
        %p
        .form_label
          = f.file_field :avatar_file_name

      .small-9.columns.columns-no-padding_right 
        
        
        .panel

          - if ! @user.kerberos_uid.present?
            .small-12.large-4.columns
              = f.label :password
              = f.password_field :password, :as => :password

            .small-12.large-4.columns
              = f.label :password_confirmation
              = f.password_field :password_confirmation, :as => :password

          - if @user.is_student?(current_course)
            - if current_course.teams_visible? && (current_course.in_team_leaderboard? || (current_student.team_for_course(current_course).present? && current_student.team_for_course(current_course).in_team_leaderboard?))
              .small-12.large-4.columns
                = f.label :display_name, "Pseudonym"
                = f.text_field :display_name
                .form_label What would you like your name to be on the leaderboards?
            - if current_course.team_roles?
              .small-12.large-4.columns
                = f.label :team_role, "#{term_for :team} Role"
                = f.text_field :team_role
                .form_label What will you contribute to your #{term_for :team}?"

          .small-12.medium-4.columns
            = f.input :default_course_id, :collection => (@default_course_options)
            .form_label This course will be automatically loaded when you log in to GradeCraft


          - if @user.is_student?(current_course) && current_course.character_profiles?
            = f.simple_fields_for :course_memberships, @course_membership do |p|
              .small-12.large-4.columns
                = p.input :character_profile, :label => "Character Profile", :hint => "This will be displayed on the #{term_for :team} leaderboard"

          .clear

        .button-bar
          %ul.button-group.radius.right
            %li= submit_tag 'Update Settings', :class => 'button'
            %li= link_to 'Cancel', root_path, :class => 'button'
