.small-12.panel.mainContent

  = content_nav_for "Grading Scheme"

  %h3.pagetitle= @title

  .small-12.medium-3.right.columns
    .button-bar.right
      %ul.button-group.context_menu
        %li
          %i.fi-pencil
          = link_to_unless_current "Edit", mass_edit_grade_scheme_elements_path

  .small-12.columns
    / Grade Scheme Elements Table Display
    %table.responsive.nofeatures_dynatable
      %thead
        %tr
          %th Grade
          %th Level
          %th Low Range
          %th High Range
      %tbody
        - @grade_scheme_elements.order_by_high_range.each do |element|
          %tr
            %td= element.letter
            %td= element.level
            %td{:data => { :"sort-value" => "#{element.low_range }" }}= points element.low_range
            %td{:data => { :"sort-value" => "#{element.high_range }" }}= points element.high_range

    .small-12.columns
      %p= raw current_course.grading_philosophy
      %h6= "-- Prof. #{current_course.professor.try(:last_name) }"