.small-12.panel.mainContent

  - if current_user_is_staff?
    = content_nav_for @assignment, "Edit Submission"

  %h3.pagetitle= @title

  .small-12.columns

    - if @assignment.has_groups?
      - if current_user_is_student?
        %h4= "You are editing the assignment submission for Group #{current_student.group_for_assignment(@assignment).name }"
      - else
        %h4= "You are editing the assignment submission for Group #{@submission.group.name }"

    = render 'form'
