.small-12.panel.mainContent

  %h3.pagetitle
    - if @assignment.has_groups? && @group.present?
      = "#{@title} for #{term_for :group} #{@group.name} (#{points @assignment.point_total} points)"
    - else
      = "#{@title} (#{points @assignment.point_total} points)"

  .small-12.columns
    - if @assignment.accepts_submissions?
      = render 'form'
