- if @course.errors.any?
  .alert-box.alert.radius
    .italic= "#{pluralize(@course.errors.count, "error")} prohibited this course from being saved:"
    %ul
      - @course.errors.full_messages.each do |msg|
        %li= msg

= simple_form_for(@course, :validate => false)  do |f|

  .small-12.large-4.columns.right.columns-no-padding_right
    .panel.callout.radius
      %h4.uppercase SETTINGS
      .small-12
        %label.checkbox{ :for => "use_timeline" }
          = f.label :use_timeline, "Timeline"
          = f.check_box :use_timeline, {"aria-describedby" => "txtUseTimeline"}
          .form_label{:id => "txtUseTimeline"} Would you like to use the interactive timeline to display your syllabus?

      .small-12
        %label.checkbox{ :for => "accepts_submissions" }
          = f.label :accepts_submissions, "Assignment Submissions"
          = f.check_box :accepts_submissions, {"aria-describedby" => "txtAcceptSubmission"}
          .form_label{:id => "txtAcceptSubmission"} Will you be using GradeCraft to accept assignment submissions?

      .small-12
        %label.checkbox{ :for => "team_setting" }
          = f.label :team_setting, "Sections"
          = f.check_box :team_setting, {"aria-describedby" => "txtSections"}
          .form_label{:id => "txtSections"}  Will you have semester-long sections in your course?

      .small-12
        %label.checkbox{ :for => "team_challenges" }
          = f.label :team_challenges, "Section Assignments"
          = f.check_box :team_challenges, {"aria-describedby" => "txtSections"}
          .form_label{:id => "txtSections"}  Will you have section assignments in your course?

      .small-12
        %label.checkbox{ :for => "badge_setting" }
          = f.label :badge_setting, "Badges"
          = f.check_box :badge_setting
          .form_label Do you want to use badges in your course?

      .small-12
        %label.checkbox{ :for => "teams_visible" }
          = f.label :teams_visible, "Section Leaderboard"
          = f.check_box :teams_visible, {"aria-describedby" => "txtSectionLeaderboard"}
          .form_label{:id => "txtSectionLeaderboard"} Can students see a leaderboard of the section rankings and their points?

      .small-12
        %label.checkbox{ :for => "in_team_leaderboard" }
          = f.label :in_team_leaderboard, "In-Section Leaderboard"
          = f.check_box :in_team_leaderboard, {"aria-describedby" => "txtInSectionLeaderboard"}
          .form_label{:id => "txtInSectionLeaderboard"} Can students see in-section rankings and points (students must opt in to this by adding a screenname to protect their privacy)?


      .small-12
        %label.checkbox{ :for => "team_roles" }
          = f.label :team_roles, "Section Roles"
          = f.check_box :team_roles, {"aria-describedby" => "txtTeamRoles"}
          .form_label{:id => "txtTeamRoles"} Do students self-declare their role within the section?

      .small-12
        %label.checkbox{ :for => "team_score_average" }
          = f.label :team_score_average, "Section Score = Average User Score"
          = f.check_box :team_score_average, {"aria-describedby" => "txtScoreAverage"}
          .form_label{:id => "txtScoreAverage"}  Will sections' scores be the average of their students' scores?

      .small-12
        %label.checkbox{ :for => "add_team_score_to_student" }
          = f.label :add_team_score_to_student, "Student Score = Grades + Team Assignments"
          = f.check_box :add_team_score_to_student, {"aria-describedby" => "txtScoreToStudent"}
          .form_label{:id => "txtScoreToStudent"}  Do you want team assignment scores to be added directly into student scores?

      - if current_user_is_admin?
        .small-12
          %label.checkbox{ :for => "status" }
            = f.label :status, "Active?"
            = f.check_box :status
            .form_label Is this an active course?


    .panel.callout.radius
      %h4.uppercase CLASS INFO
      .small-12
        = f.label :office, "Professor's Office"
        = f.text_field :office

      .small-12
        = f.label :phone, "Contact Phone #"
        = f.text_field :phone

      .small-12
        = f.label :class_email, "Class Email"
        = f.text_field :class_email

      .small-12
        = f.label :twitter_handle, "Twitter Handle"
        = f.text_field :twitter_handle

      .small-12
        = f.label :twitter_hashtag, "Hashtag"
        = f.text_field :twitter_hashtag
        .form_label Don't include the hash sign

      .small-12
        = f.label :location, "Location"
        = f.text_field :location

      .small-12
        = f.label :office_hours, "Office Hours"
        = f.text_field :office_hours

      .small-12
        = f.label :meeting_times, "Class Meeting Times"
        = f.text_field :meeting_times

    .panel.callout.radius
      %h4.uppercase COURSE SETTINGS 
      = f.file_field :media_file
      = f.input :media_credit
      = f.input :media_caption

  .small-12.large-8.columns.panel
    %h4 THE BASICS
    .row
      .small-12.large-5.columns
        = f.label :name, "Course Title"
        = f.text_field :name

      .small-12.large-2.columns
        = f.label :courseno, "Course Number"
        = f.text_field :courseno, {"aria-describedby" => "txtCourseNo"}

      .small-12.large-5.columns
        = f.label :tagline, "Tagline"
        = f.text_field :tagline


    .row
      .small-12.large-5.columns
        = f.label :semester
        = f.select :semester, [["Winter", "winter"], ["Spring", "spring"], ["Summer", "summer"], ["Fall", "fall"]]

      .small-12.large-2.columns
        = f.label :year
        = f.select :year, (Date.today.year - 3)..(Date.today.year + 2)

      .small-12.large-5.columns
        = f.label :point_total, "Maximum Number of Points"
        = f.number_field :point_total, {"aria-describedby" => "txtMaxPoints"}
        .form_label{:id => "txtMaxPoints"} If you leave this blank, GradeCraft will calculate the total number of points based on the assignments you create.

    .row
      .small-12.large-6.columns
        = f.input :start_date, as: :string, :include_blank => true, :input_html => { :class => 'datetimepicker', :value => @course.try(:start_date) }

      .small-12.large-6.columns
        = f.input :end_date, as: :string, :include_blank => true, :input_html => { :class => 'datetimepicker', :value => @course.try(:end_date) }


    .small-12.large-2.columns
      = f.label :min_group_size, "Min Group Size"
      = f.number_field :min_group_size

    .small-12.large-2.columns
      = f.label :max_group_size, "Max Group Size"
      = f.number_field :max_group_size


    .clear

  .panel
    %h4 GRADING PHILOSOPHY
    .small-12.textarea
      = f.bootsy_area :grading_philosophy
      .form_label What would you like to tell students about how they should expected to be graded?

  .panel
    %h4 MULTIPLIERS
    %span.has-tip{:title => "Multipliers allow students to 'boost' their grades on specific assignment types. You decide how many multipliers students can allocate, then the students select which assignment types will get a boost (through their dashboard) and those assignment type's points are multiplied by the number of multipliers that the student allocates.", :data => {'tooltip' => true} }

    %hr
    .row
      .small-12.large-4.columns
        = f.label :total_assignment_weight, "Multiplier Count"
        = f.number_field :total_assignment_weight, {"aria-describedby" => "txtMultiplierCount"}
        .form_label{:id => "txtMultiplierCount"}= "How many multipliers do #{term_for :students} have to allocate?"

      .small-12.large-4.columns
        = f.label :assignment_weight_close_at, "Decision By..."
        = f.input :assignment_weight_close_at, as: :string, :include_blank => true, :input_html => { :class => 'datetimepicker', :value => @assignment.try(:open_at) }, :label => false
        .form_label What date must they make this decision by?

      .small-12.large-4.columns
        = f.label :max_assignment_weight, "Maximum Per #{term_for :assignment_type}"
        = f.number_field :max_assignment_weight, {"aria-describedby" => "txtMaxPerAssignment"}
        .form_label{:id => "txtMaxPerAssignment"} Is there a maximum weight they may place on a single assignment type?

      .small-12.large-4.columns
        = f.label :max_assignment_types_weighted, "Maximum Multiplied Assignment Types"
        = f.number_field :max_assignment_types_weighted, {"aria-describedby" => "txtMaxWeighted"}
        .form_label{:id => "txtMaxWeighted"} Is there a maximum number of assignment types they can weight?

      .small-12.large-4.columns
        = f.label :default_assignment_weight
        = f.text_field :default_assignment_weight, {"aria-describedby" => "txtDefaultWeight"}
        .form_label{:id => "txtDefaultWeight"} What amount should the assignment types that the student doesn't select to boost be multiplied by?

      .small-12.large-4.columns
        = f.label :weight_term
        = f.text_field :weight_term, {"aria-describedby" => "txtWeightTerm"}
        .form_label{:id => "txtWeightTerm"} What do you want to call these weights/multipliers?

  .panel
    %h4 TERMINOLOGY
    %hr

    .row
      .small-12.large-4.columns
        = f.label :user_term, "User Term"
        = f.text_field :user_term, {"aria-describedby" => "txtUserTerm"}
        .form_label{:id => "txtUserTerm"} What will you call your user? Student, Learner, Player..."

      .small-12.large-4.columns
        = f.label :assignment_term, "Assignment Term"
        = f.text_field :assignment_term, {"aria-describedby" => "txtAssignmentTerm"}
        .form_label{:id => "txtAssignmentTerm"} Would you like to call assignments something else?

      .small-12.large-4.columns
        = f.label :group_term
        = f.text_field :group_term, {"aria-describedby" => "txtGroupTerm"}
        .form_label{:id => "txtGroupTerm"} What will these groups be called?

    .row
      .small-12.large-4.columns
        = f.label :team_leader_term, "Section Leader Term"
        = f.text_field :team_leader_term, {"aria-describedby" => "txtTeamLeader"}
        .form_label{:id => "txtTeamLeader"} TA, GSI, Team Leader..."

      .small-12.large-4.columns
        %label.text_field{ :for => "challenge_term" }
          = f.label :challenge_term, "Section Assignment Term"
          = f.text_field :challenge_term, {"aria-describedby" => "txtChallenge"}
          .form_label{:id => "txtChallenge"} What would you like to call these section assignments? Quests, Boss Battles, Challenges...

      .small-12.large-4.columns
        = f.label :team_term, "Section Term"
        = f.text_field :team_term, {"aria-describedby" => "txtSectionTerm"}
        .form_label{:id => "txtSectionTerm"}  What will you call these? Team, House, Section...


      .small-12.large-4.columns
        = f.label :badge_term, "Badge Term"
        = f.text_field :badge_term, {"aria-describedby" => "txtBadgeTerm"}
        .form_label{:id => "txtBadgeTerm"} Would you like to call badges something else?


  .button-bar
    %ul.button-group.radius.right
      %li= f.button :submit, "#{@course.persisted? ? 'Update' : 'Create'} Course", :class => "button"
      %li= link_to 'Cancel', courses_path, :class => 'button'
