.small-12.panel.mainContent
  / Courses Navigation
  = content_nav do 
    = render "tabs"

  = content_nav_for @course, "Edit Course"

  %h3.pagetitle= @title
  
  .small-12.columns
    = render 'form'

  .clearfix