.small-12.panel.mainContent

  = content_nav_for Course

  .small-12s
    %h3.pagetitle#tableCaption= @title

  .small-12.columns
    .button-bar
      %ul.button-group.context_menu
        %li
          %a{:href => new_course_path }
            %i.fi-plus
            New Course
    %br

  .columns{:style => "overflow: auto"}
    %table.responsive.nosearch_dynatable{"aria-describedby" => "tableCaption"}
      %thead
        %tr
          %th{:scope => "col"} Name
          %th{:scope => "col"} Course No
          %th{:scope => "col"} Year
          %th{:scope => "col"} Semester
          %th{:scope => "col"} Badges
          %th{:scope => "col"} Total Points
          - if current_user_is_admin?
            %th
          %th{:scope => "col", :style => "min-width: 200px" }
            %span.sr-only Actions
      %tbody
        - @courses.each do |course|
          %tr
            %td= link_to course.name, course
            %td= course.courseno
            %td= course.year
            %td= course.semester
            %td
            %td= points course.total_points
            - if current_user_is_admin?
              %td
                - if course == current_course
                  = link_to_unless_current "Export Grades for Research", research_gradebook_path, :class=>"data-clearing"

            %td
              .button-bar
                %ul.button-group.radius.right
                  %li
                    = link_to edit_course_path(course), :class => 'button' do
                      Edit
                      %span.sr-only #{course.name}
                  %li
                    = link_to course, :class => 'button', :data => { confirm: 'Are you sure?' }, :method => :delete do
                      Delete
                      %span.sr-only #{course.name}
                  %li
                    = link_to copy_courses_path(:id => course.id), :class => 'button', :method => :copy do
                      Copy
                      %span.sr-only #{course.name}