.small-12.panel.mainContent

  = content_nav_for current_course, "Timeline Settings"

  %h3.pagetitle= @title

  .small-12.columns
    #massGrade
      - if @course.errors.any? 
        .alert-box.alert.radius
          .italic= "#{pluralize(@course.errors.count, "error")} prohibited these settings from being saved:"
          %ul
            - @course.errors.full_messages.each do |msg|
              %li= msg
              
      = simple_form_for @course, method: :put, :url => timeline_settings_course_path(@course) do |f|

        %table.responsive
          %thead
            %tr
              %th= "#{term_for :assignment}"
              %th Image/Video
              %th Thumbnail
              %th Media Credit
              %th Caption

          - @assignments.group_by(&:assignment_type).each do |assignment_type, assignments|
            - assignments.each do |assignment|
              %tr
                %td= assignment.name
                = f.simple_fields_for :assignments, assignment do |af|
                  %td= af.text_field :media
                  %td= af.text_field :thumbnail
                  %td= af.text_field :media_credit
                  %td= af.text_field :media_caption


        .right.form_buttons
          = f.button :submit, "Update Settings", :class => "button radius"
          = link_to 'Cancel', dashboard_path, :class => "button radius transparent"