.small-12.panel.mainContent
  / Challenge Navigation
  = content_nav do
    = render "teams/tabs"

  = content_nav_for Challenge

  %h3.pagetitle= @title

  .small-12.columns
  
    %table.responsive.nofeatures_dynatable
      %thead
        %tr
          %th Name
          %th Description
          %th Max Value
          %th{"data-dynatable-sorts" => "dueDate"} Due
          %th{:style => "display: none"} Due Date
          %th Visible
          %th Submissions?
          %th Release necessary
          %th.button-column

      %tbody
        - @challenges.each do |challenge|
          %tr
            %td= link_to challenge.name, challenge
            %td= raw challenge.description
            %td= challenge.point_total
            %td= challenge.due_at
            %td{:style => "display: none"} 
              = challenge.try(:due_at).to_formatted_s(:db) if challenge.due_at.present?
            %td= challenge.visible? ? 'Visible' : 'Hidden'
            %td= challenge.accepts_submissions? ? 'Yes' : 'No'
            %td= challenge.release_necessary? ? 'Yes' : 'No'
            %td
              .button-bar
                %ul.button-group.round.right
                  %li= link_to 'See', challenge, :class => 'button tiny secondary'
                  %li= link_to 'Edit', edit_challenge_path(challenge), :class => 'button tiny secondary'
                  %li= link_to 'Delete', challenge, :class => 'button tiny secondary', :method => :delete, data: { confirm: 'Are you sure?' }

  .clearfix