.small-12.panel.mainContent
  - if current_user_is_staff?
    = content_nav_for @challenge

  .small-12
    %h3.pagetitle= @title

  - if current_user_is_staff?
    .small-12.columns
      .button-bar
        %ul.button-group.context_menu
          %li
            %a{:href => new_challenge_path }
              %i.fi-plus
              New #{(term_for :challenge).titleize}
          %li
            %a{:href => edit_challenge_path(@challenge) }
              %i.fi-pencil
              Edit
          %li
            %a{:href => mass_edit_challenge_challenge_grades_path(@challenge) }
              %i.fi-results-demographics
              Quick Grade
      %br

  .small-12.columns
    - if @challenge.challenge_files.present?
      %p
        %b Documents:
        %ul
        - @challenge.challenge_files.each do |cf|
          %li= link_to cf.filename, cf.url
          - if current_user_is_staff?
            = link_to "(Remove)", remove_uploads_path({ :model => "ChallengeFile", :upload_id => cf.id })

    = form_tag edit_status_challenge_challenge_grades_path @challenge do
      %table.responsive.nofeatures_dynatable
        %thead
          %tr
            %th= current_course.team_term
            %th  Score
            - if @challenge.has_levels?
              %th Level
            - if @challenge.release_necessary?
              %th Status
            - if current_user_is_staff?
              %th
            - if @challenge.release_necessary?
              %th.center{"data-dynatable-no-sort" => "true" }
                %button.button.select-all.tiny= "Check All"
                %button.button.select-none.tiny= "Uncheck"
        %tbody
          - @teams.alpha.each do |team|
            - challenge_grade = @challenge.challenge_grades.find_by team: team
            %tr
              %td
                - if current_user_is_staff?
                  = link_to team.name, team
                - else
                  = team.name
              %td
                - if challenge_grade
                  = challenge_grade.score
              - if @challenge.has_levels?
                %td
                  - if challenge_grade
                    = @challenge.grade_level(grade)
              - if @challenge.release_necessary?
                %td= challenge_grade.try(:status)
              - if current_user_is_staff?
                %td
                  - if challenge_grade
                    %ul.button-group.right.radius
                      %li
                        %a{:href => challenge_challenge_grade_path(@challenge.id, challenge_grade.id, :team_id => team.id), :class => 'button'}
                          See Grade
                          %span.sr-only
                            = "for #{team.name}"
                      %li
                        %a{:href => edit_challenge_challenge_grade_path(@challenge.id, challenge_grade.id, :team_id => team.id), :class => 'button'}
                          Edit Grade
                          %span.sr-only
                            = "for #{team.name}"
                      %li
                        %a{:href => challenge_challenge_grade_path(@challenge.id, challenge_grade.id, :team_id => team.id), :class => 'button', :data => { confirm: 'Are you sure?', method: :delete }}
                          Delete Grade 
                          %span.sr-only
                            = "for #{team.name}"
                  - else
                    .right
                      %a{:href => new_challenge_challenge_grade_path(:challenge_id => @challenge.id, :team_id => team.id), :class => 'button radius'}
                        Grade
                        %span.sr-only
                          = "for #{team.name}"
              - if @challenge.release_necessary?
                %td
                  - if challenge_grade
                    .center= check_box_tag "challenge_grade_ids[]", challenge_grade.id

      .right
        - if @challenge.release_necessary? && @challenge.challenge_grades.present?
          = submit_tag "Update Grade Statuses", :class => "button tiny radius"
