- if current_course.valuable_badges?
  %li#slide-badges.assignmentType(data-assignment-type-id="badges" data-assignment-type-name)
    %h3.bold.collapse
      ="#{term_for :badges}"
      .right.label.radius #{points current_student.earned_badge_score} possible points
    .slide-panel
      .row
      - current_course_data.badges.each do |badge|
        - if badge.point_total.present? && badge.point_total > 0
          .small-12.medium-3.columns.predictor_badge
            - if current_student_data.earned_badge?(badge)
              .earnedBadgeField.panel
                .small-12.medium-5.columns
                  %img{:src => badge.icon, :alt => badge.name}
                .small-12.medium-7.columns
                  %b= badge.name
                  %div= "#{points badge.point_total} points"
                  = hidden_field_tag badge.name, badge.point_total
                .clearfix
            - else
              .badgeField.panel
                .small-12.medium-5.columns
                  %img{:src => badge.icon, :alt => badge.name}
                .small-12.medium-7.columns
                  = badge.name
                  %b #{points badge.point_total} points
                  = check_box_tag badge.name, badge.point_total, false, :class => 'class-checkbox', :'data-assignment-type-id' => 'grades'
                .clearfix