.small-12.panel.mainContent
  .small-12.columns
    %br
    %br
    %h3 Create Rubric for "#{@assignment.name}"
    #rubric(ng-app="gradecraft" ng-controller="RubricCtrl")
      {{test}}
      %br
      %br

      %form(ui-sortable ng-submit="createRubric")
        .row(ng-repeat="metric in metrics")
          .metric.small-3.columns(ng-show="metric.isNew()")
            = render "rubrics/new_metric"
          .metric.small-3.columns(ng-hide="metric.isNew()")
            = render "rubrics/saved_metric"
          .tier.small-3.columns(ng-repeat="tier in metric.tiers" ng-show="tier.isNew()")
            = render "rubrics/new_tier"
          .tier.small-3.columns(ng-repeat="tier in metric.tiers" ng-hide="tier.isNew()")
            = render "rubrics/saved_tier"

      %button(type="button" ng-click="newMetric()") + Add Metric
      
  .clearfix
