= csrf_meta_tag
.small-12.panel.mainContent
  .small-12.columns
    %br
    %br
    %h3 Create Rubric for "#{@assignment.name}"
    #rubric(ng-app="gradecraft" ng-controller="RubricCtrl")
      {{test}}
      %br
      %br

      #metric-box(ui-sortable)
        .row(ng-repeat="metric in metrics")
          .metric.small-3.columns(name="metricForm" ng-form ng-submit="metric.create()")
            = render "rubrics/new_metric"
          .tier.small-3.columns(name="newTier" ng-repeat="tier in metric.tiers" ng-show="tier.isNew()" ng-form ng-submit="tier.create()")
            = render "rubrics/new_tier"
          .tier.small-3.columns(name="savedTier" ng-repeat="tier in metric.tiers" ng-hide="tier.isNew()" ng-form ng-submit="tier.update()")
            = render "rubrics/saved_tier"

      %button(type="button" ng-click="newMetric()") + Add Metric
      
  .clearfix
