.small-12.panel.mainContent

  %h4.subtitle
    
    / Check to see if the course has scheme elements
    - if current_course.grade_scheme_elements.present?
      - if current_student.won(current_course)
        = "Congratulations! You beat #{current_course.name}."
      - elsif current_course.grade_level_for_score(current_student.cached_score_for_course(current_course)).present?
        = current_course.grade_level_for_score(current_student.cached_score_for_course(current_course))
      - else
        You're just getting started!
      %span= points current_student.points_to_next_level(current_course)
      %span points until next rank:
      %span.bold= current_student.next_element_level(current_course).level      
      / Else tally all of the points for all of the assignments in the course
    - else
      %span#userScoreNum #{points current_user.cached_score_for_course(current_course)}
      %span /#{points current_course.total_points} points
      - if current_user.grade_level_for_course(current_course).present?
        – Current Level:
        %span#userScoreNum= current_user.grade_level_for_course(current_course)

  #time_line{"data-timeline" => render(:partial => 'info/timeline', :handlers => [:jbuilder], :formats => [:js])}