%table.responsive.dynatable
  %thead
    %tr
      %th= course.team_term
      - if ! current_course.team_score_average
        %th Score
      %th Average #{course.user_term} Grade
      %th= course.team_leader_term
  %tbody
    - teams.order_by_high_score.each do |team|
      %tr
        %td= link_to team.name, team_path(team)
        - if ! current_course.team_score_average
          %td= points team.try(:challenge_grade_score)

        %td= points team.try(:average_points)
        %td
          // If put back in use, change to team.leaders
          - if team.team_leader.present?
            = link_to team.team_leader.try(:name), team.team_leader
