%h4.subtitle#unreleasedTableCaption
  = "Unreleased Grades"
  .label.alert.radius= @count_unreleased

- @unreleased_grades.group_by(&:assignment).each do |assignment, grades|
  .small-12.columns
    %h5.section-title
      = link_to assignment.name, assignment
      .right 
        - if assignment.is_individual?
          = link_to 'Quick Grade', mass_grade_assignment_path(assignment), :class => "button radius"
        - else 
          = link_to 'Grade', assignment, :class => "button radius"

  = form_tag edit_status_grades_assignment_path assignment do
    .columns{:style => "overflow: auto"}
      %table.responsive.no_radius.nofeatures_default_last_name_dynatable{"aria-describedby" => "unreleasedTableCaption"}
        %thead
          %tr
            - if assignment.is_individual?
              %th{:scope => "col", :width => "8%"} First Name
              %th{:scope => "col", :width => "8%"} Last Name
            - if assignment.has_groups?
              %th{:scope => "col"}= "#{term_for :groups}"
            - elsif current_course.has_teams?
              %th{:scope => "col", :width => "15%"}= "#{term_for :team}"
            %th{:scope => "col", "data-dynatable-column" => "score", :width => "8%"} Score
            %th{:scope => "col"} Feedback
            %th{:scope => "col", "data-dynatable-no-sort" => "true", :style => "min-width: 200px"}
              %span.sr-only Actions
            %th.center{:scope => "col", "data-dynatable-no-sort" => "true", :width => "15%" }
              %span.sr-only Check/Uncheck
              .button-bar
                %ul.button-group.right.radius
                  %li
                    %button.button.select-all.tiny= "Check All"
                  %li
                    %button.button.select-none.tiny= "Uncheck All"
        %tbody
          - grades.each do |g|
            %tr
              - if g.assignment.is_individual?
                %td= link_to g.student.try(:first_name), student_path(g.student)
                %td= link_to g.student.try(:last_name), student_path(g.student)
              - if g.assignment.has_groups?
                %td= link_to g.student.group_for_assignment(g.assignment).try(:name), group_path(:id => g.student.group_for_assignment(g.assignment))
              - if current_course.has_teams? && ! assignment.has_groups? 
                %td
                  = link_to "#{g.student.team_for_course(current_course).try(:name)}", g.student.team_for_course(current_course)
              
              %td= g.try(:score)
              %td= raw g.feedback
              %td
                .button-bar
                  %ul.button-group.right.radius
                    %li
                      %a{:href => "#{assignment_grade_path(g.assignment)}?student_id=#{g.student_id}", :class => "button"}
                        See Grade
                        %span.sr-only for #{g.student.try(:first_name)} #{g.student.try(:last_name)}
                    %li
                      %a{:href => "#{edit_assignment_grade_path(:assignment_id => assignment.id)}?student_id=#{g.student_id}", :class => "button"}
                        Edit
                        %span.sr-only record for #{g.student.try(:first_name)} #{g.student.try(:last_name)}
              %td.center
                %label
                  = check_box_tag "grade_ids[]", g.id
                  .sr-only
                    Check/Uncheck #{g.student.try(:first_name)} #{g.student.try(:last_name)}

      .right.form_buttons
        = submit_tag "Update Selected Grade Statuses", :class => "button radius"
        %br
        %br
        %br
    %hr
