.small-12.panel.mainContent
  = content_nav do
    = render "tabs"

  %h3.pagetitle#tableCaption= @title

  / Gradebook Table
  .small-12.columns
    #gradebook
      %table.responsive.nopage_dynatable{"aria-describedby" => "tableCaption"}
        %thead
          %tr
            %th{:scope => "col"} First Name
            %th{:scope => "col"} Last Name
            - for assignment in current_course_data.assignments
              %th{:scope => "col"}= assignment.name
            - if current_course.valuable_badges?
              %th{:scope => "col"} Badge Score
            %th{:scope => "col"} Total Score
            %th{:scope => "col"} Final Grade
            %th{:scope => "col"} #{current_course.user_term}
        %tbody
          - current_course_data.students.each do |student|
            %tr
              %td= link_to student.first_name, student_path(student)
              %td= link_to student.last_name, student_path(student)
              - current_course_data.assignments.each do |assignment|
                - assignment.grade_for_student(student).tap do |grade|
                  - if grade
                    %td= link_to "#{grade.score}", edit_assignment_grade_path(assignment, :student_id => student.id)
                  - else
                    %td
              - if current_course.valuable_badges?
                %td= student.earned_badge_score_for_course(current_course)
              %td= student.cached_score_for_course(current_course)
              %td= student.grade_level_for_course(current_course)
              %td= link_to student.name, user_path(student)
  .clearfix