.small-12.panel.mainContent#leaderboard
  / Leaderboard Navigation
  = content_nav do
    = render "info/tabs"

  %h3.pagetitle#tableCaption= @title

  - if current_course.has_teams?
    .small-12.large-4.medium-6.columns.right
      %label.sr-only{:for => "team_id"}
        Select Team
      = form_tag leaderboard_path, :name => "see_team", :onchange => ("javascript: document.see_team.submit();"), :method => :get do
        = select_tag :team_id, options_for_select(current_course.teams.alpha.map { |t| [t.name, t.id] }, @team.try(:id)), :prompt => "Select #{current_course.team_term}"

  .columns
    %table.responsive.nopage_dynatable{"aria-describedby" => "tableCaption"}
      %thead
        %tr
          %th{:scope => "col", "data-dynatable-sorts" => "rank"} Rank
          %th{:scope => "col"} First Name
          %th{:scope => "col"} Last Name
          - if current_course.has_teams?
            %th{:scope => "col"} #{current_course.team_term}
          %th{:scope => "col", "data-dynatable-sorts" => "score"}  Score
          %th{:scope => "col"} Grade
          - if current_course.has_badges?
            %th{:scope => "col", "data-dynatable-sorts" => "badgeCount" } Badges Earned
            %th{:style => "display: none"} Badge Count
          %th.button-column{:scope => "col", "data-dynatable-no-sort" => "true"}
            %span.sr-only Actions
        %tbody
          - if @team
            - students = current_course_data.students_for_team(@team)
          - else
            - students = current_course.students.being_graded.order_by_high_score
          - i = 1
          - students.each do |student|
            %tr
              %td
                = i
              %td= link_to student.first_name, student_path(student)
              %td= link_to student.last_name, student_path(student)
              - if current_course.has_teams?
                %td#team_for_course
                  = link_to student.team_for_course(current_course).name, student.team_for_course(current_course) if student.teams.present?
              %td= points student.cached_score_for_course(current_course)
              %td
                = student.grade_letter_for_course(current_course)
                - if student.grade_level_for_course(current_course).present?
                  = "(#{student.grade_level_for_course(current_course)})"
              - if current_course.has_badges?
                %td#earned_badges
                  - student.earned_badges.each do |badge|
                    %img.has-tip{:src => badge.try(:icon), :alt => badge.try(:name), :width => "20", :title => badge.name, :data => {'tooltip' => true}}
                %td{:style => "display: none"}
                  = student.earned_badges.count
              %td
                .button-bar
                  %ul.button-group.round.right
                    %li= link_to "Dashboard", student_path(student), :class => "button tiny"
                    %li= mail_to student.email, "Email", :class => "button tiny"
                    %li= link_to "Edit", edit_user_path(student), :class => "button tiny"
            - i += 1
  .clearfix
