.small-12.panel.mainContent#leaderboard

  = content_nav_for "Leaderboard"

  %h3.pagetitle#tableCaption= @title

  .small-12.medium-3.right.columns.columns-no-padding
    .button-bar.right
      %ul.button-group.context_menu
        %li
          %a{:href => gradebook_path(format: 'csv') }
            %i.fi-page-export-csv
            Download Grades

  - if current_course.has_teams?
    .clearfix
    .small-12.large-4.medium-6.columns.right
      %label.sr-only{:for => "team_id"}
        Select Team
      = form_tag leaderboard_path, :name => "see_team", :onchange => ("javascript: document.see_team.submit();"), :method => :get do
        = select_tag :team_id, options_for_select(current_course.teams.map { |t| [t.name, t.id] }, @team.try(:id)), :prompt => "– Select #{current_course.team_term} –"

  .columns
    %table.responsive.nofeatures_default_rank_dynatable{"aria-describedby" => "tableCaption"}
      %thead
        %tr
          %th{:scope => "col", "data-dynatable-sorts" => "rank"} Rank
          %th{:scope => "col"} First Name
          %th{:scope => "col"} Last Name
          %th{:scope => "col"} Score
          - if current_course.has_teams?
            %th{:scope => "col"} #{current_course.team_term}
          %th{:scope => "col"} Grade
          - if current_course.has_badges?
            %th{:scope => "col", "data-dynatable-sorts" => "badgeCount", :width => "15%"  } Badges Earned
            %th{:style => "display: none"} Badge Count
          %th{:scope => "col", "data-dynatable-no-sort" => "true", :width => "20%" }
            %span.sr-only Actions
        %tbody
          - @students.each_with_index do |student, index|
            %tr
              %td= index + 1
              %td= link_to student.first_name, student_path(student)
              %td= link_to student.last_name, student_path(student)
              %td= points student.cached_score_for_course(current_course)
              - if current_course.has_teams?
                %td#team_for_course
                  = link_to student.team_for_course(current_course).try(:name), student.team_for_course(current_course) if student.team_for_course(current_course).present?
              %td
                = student.grade_letter_for_course(current_course)
                - if student.grade_level_for_course(current_course).present?
                  = "(#{student.grade_level_for_course(current_course)})"
              - if current_course.has_badges?
                %td#earned_badges
                  - student.earned_badges_for_course(current_course).each do |badge|
                    %img.has-tip{:src => badge[1].icon, :alt => badge[1].name, :width => "20", :title => badge[1].name, :data => {'tooltip' => true}}
                %td{:style => "display: none"}
                  = student.earned_badges_for_course(current_course).count
              %td
                .button-bar
                  %ul.button-group.radius.right
                    %li= link_to "Dashboard", student_path(student), :class => "button"
                    %li= mail_to student.email, "Email", :class => "button"
                    %li= link_to "Edit", edit_user_path(student), :class => "button"
