%section.top-bar-section
  %ul.right
    - if current_user_is_staff?
      %li.has-form.hide-for-small.hide-for-medium
        .row.collapse
          .large-8.small-9.columns
            :javascript
              window.autocompleteUsers = #{autocomplete_items.to_json};
            %label.sr-only{:for => "search-input"}
              Search #{term_for :students}
            %input.search-query#search-input{ :type => "text", :placeholder => "Search #{term_for :students}", :label => false }
          .large-4.small-3.columns
            %a.alert.button.expand{ :href => "#" } Search
    %li.has-dropdown.course_switch
      %a My Courses
      %ul.dropdown
        - current_user.courses.each do |c|
          - if c.active?
            %li= link_to "#{c.name}", change_current_course_path(:course_id => c.id), :method => 'post'

        - if current_user.archived_courses.present?
          .past_courses
            %hr
            %h5 Past Courses
            - current_user.courses.each do |c|
              - if ! c.active?
                %li.archived= link_to "#{c.name} (#{c.semester.capitalize} #{c.year})", change_current_course_path(:course_id => c.id), :method => 'post'
                
    = render "layouts/class_info"

    %li.has-dropdown
      %a
        = gravatar_for current_user, :size => 30
      %ul.dropdown
        %li= link_to "My Account", edit_profile_users_path
        %li= link_to "Logout", :logout
