.small-12.medium-2.columns
  %h5 Explore
  %ul
    %li= link_to_unless_current "Features", features_path
    %li= link_to_unless_current "See the Demo", "http://staging.gradecraft.com"
  .clearfix
  %hr.show-for-small-only

.small-12.medium-2.columns
  %h5 Using GradeCraft
  %ul
    %li= link_to_unless_current "Apply to Use", using_gradecraft_path
    %li= link_to "Documentation", "http://gradecraft.freshdesk.com/support/home"
    %li= link_to "Submit a Bug", "http://gradecraft.freshdesk.com/support/tickets/new"
  .clearfix
  %hr.show-for-small-only

.small-12.medium-2.columns
  %h5 About
  %ul
    %li= link_to_unless_current "Research", "http://blog.gradecraft.com/research"
    %li= link_to_unless_current "People", "http://blog.gradecraft.com/the-team"
    %li= link_to_unless_current "Codebase", "https://github.com/UM-USElab/gradecraft-development"
    %li= link_to_unless_current "Blog", "http://blog.gradecraft.com"
  .clearfix
  %hr.show-for-small-only

.small-12.medium-2.columns
  %h5 Talk to Us
  %ul
    %li= mail_to 'help@gradecraft.com', 'Help'
    %li= mail_to 'gradecraft@gmail.com', 'Email'
    %li= link_to_unless_current "Twitter", "https://twitter.com/gradecraft"
  .clearfix
  %hr.show-for-small-only

.small-12.medium-4.columns
  %h5.small.inverse.not_bold &copy; 2012-14 Regents of the University of Michigan