.small-12.medium-8.large-9.columns.outerContainer{:role => "main"}
  / Display errors and notifications
  = render 'layouts/alerts'
  .show-for-medium-up
    = content_nav do
      = render "students/student_profile_tabs"
  = render 'layouts/content'
.small-12.medium-4.large-3.columns.sideBar
  = render 'students/student_sidebar'

= render "layouts/help/student_freshdesk"