%li
  %i.fi-torsos-female-male
  = link_to "#{term_for :students}", students_path
- if current_course.has_teams?
  %li
    %i.fi-die-three
    = link_to term_for(:teams), teams_path
%li
  %i.fi-elevator
  = link_to term_for(:groups), groups_path
%li
  %i.fi-torso-business
  = link_to "Staff", staff_index_path 
  