%li.has-dropdown.hide-for-small
  %a Class Info
  %ul.dropdown.classInfo
    %li
      %i.fi-crown
      Professor #{ current_course.professor.try(:name) }
    - if current_user_is_student? && current_student.team_leaders(current_course).present?
      - current_student.team_leaders(current_course).each do |team_leader|
        %li
          %i.fi-torso-business
          = "#{current_course.team_leader_term} #{team_leader.first_name}"
    - if current_user_is_student? && current_user.team_for_course(current_course).present?
      %li
        %i.fi-torsos-all
        = "#{(term_for :team).titleize} #{current_user.team_for_course(current_course).name}"
    - if current_course.phone.present?
      %li
        %i.fi-telephone
        Phone Number: #{current_course.phone }
    - if current_course.class_email.present?
      %a{:href => "mailto:#{current_course.class_email}"}
        %li
          %i.fi-mail
          Class Email: #{current_course.class_email}
    - if current_course.twitter_handle.present?
      %a{:href => "http://www.twitter.com/##{current_course.twitter_handle}"}
        %li
          %i.fi-social-twitter
          Twitter Handle:
          = current_course.twitter_handle
    - if current_course.twitter_hashtag.present?
      %a{:href => "http://www.twitter.com/##{current_course.twitter_hashtag}"}
        %li
          ="# Hashtag: ##{current_course.twitter_hashtag}"
    - if current_course.meeting_times.present?
      %li
        %i.fi-projection-screen
        Classes Meet:
        = current_course.meeting_times
        = current_course.location
    - if current_course.office.present?
      %li
        %i.fi-safety-cone
        Professor's Office:
        = current_course.office
    - if current_course.office_hours.present?
      %li
        %i.fi-clock
        Office Hours:
        = auto_link(current_course.office_hours)