.show-for-small
  %h5 My Courses
- current_user.courses.alphabetical.each do |c|
  - if c.active?
    %li= link_to "#{c.courseno} #{c.semester.capitalize.first[0]}#{c.year}", change_current_course_path(:course_id => c.id), :method => 'post'

- if current_user.archived_courses.present?
  .past_courses
    %hr
    %h5 Past Courses
    - current_user.courses.alphabetical.each do |c|
      - if ! c.active?
        %li.archived= link_to "#{c.courseno} #{c.semester.capitalize.first[0]}#{c.year}", change_current_course_path(:course_id => c.id), :method => 'post'